<nav class="h-12 pl-1 pr-1 bg-accent-blue flex items-center justify-between text-[14px] text-white select-none">
  <ul class="h-10 flex gap-1">
    <li class="flex p-2 items-center justify-center rounded-md hover:bg-black sm:hidden">
      <a class="flex gap-1 justify-center items-center">
        <img ngSrc="assets/navbar/hamburger.png" alt="hamburger icon" height="30" width="30">
      </a>
    </li>
    <li class="hidden sm:flex p-2 items-center justify-center rounded-md hover:bg-black" routerLinkActive="bg-black">
      <a class="flex gap-1 justify-center items-center" routerLink="/dashboard">
        <img ngSrc="assets/navbar/home.png" height="30" width="30">
        <p class="flex items-center justify-center">Dashboard</p>
      </a>
    </li>
    <li class="hidden sm:flex p-2 items-center justify-center rounded-md hover:bg-black" routerLinkActive="bg-black">
      <a class="flex gap-1 justify-center items-center" routerLink="/projects/all">
        <img ngSrc="assets/navbar/projects.png" height="30" width="30">
        <p class="flex items-center justify-center">Projects</p>
      </a>
    </li>
    <li class="hidden sm:flex p-2 items-center justify-center rounded-md hover:bg-black" routerLinkActive="bg-black">
      <a class="flex gap-1 justify-center items-center" routerLink="/members/all">
        <img ngSrc="assets/navbar/members.png" height="30" width="30">
        <p class="flex items-center justify-center">Members</p>
      </a>
    </li>
    <li class="hidden sm:flex p-2 items-center justify-center rounded-md hover:bg-black" routerLinkActive="bg-black">
      <a class="flex gap-1 justify-center items-center" routerLink="/roles/all">
        <img ngSrc="assets/navbar/roles.png" height="30" width="30">
        <p class="flex items-center justify-center">Roles</p>
      </a>
    </li>
<!--    <li class="hidden sm:flex p-2 items-center justify-center rounded-md hover:bg-black" routerLinkActive="bg-black">-->
<!--      <a class="flex gap-1 justify-center items-center">-->
<!--        <img ngSrc="assets/navbar/analytics.png" height="30" width="30">-->
<!--        <p class="flex items-center justify-center">Analytics</p>-->
<!--      </a>-->
<!--    </li>-->
  </ul>

  <ul id="dropdown-toggle" class="h-10 flex gap-1">
    <li class="flex p-2 items-center justify-center rounded-md hover:bg-black" (click)="dropdownShow()">
      <a class="flex gap-2 justify-center items-center">
        <img ngSrc="http://localhost:8000/api/Member/{{member?.roleId}}/Avatar" alt="avatar icon" height="30" width="30">
        <img ngSrc="/assets/navbar/dropdown-arrow.png" height="15" width="15" class="rotate-180" *ngIf="visible">
        <img ngSrc="/assets/navbar/dropdown-arrow.png" height="15" width="15" *ngIf="!visible">
      </a>
    </li>
  </ul>
</nav>

<div *ngIf="this.visible" id="profile-dropdown" class="flex absolute gap-2 right-[3px] top-[50px] w-60 bg-accent-blue p-2 flex-col justify-evenly
                                  rounded-md text-white select-none">
  <p class="pl-2 font-bold">{{member?.firstName}} {{member?.lastName}}</p>
  <p class="pl-2">Role: {{member?.roleName}}</p>
  <hr class="white">
  <button class="flex h-10 pl-2 items-center text-white rounded-md xl:bg-transparent hover:bg-black" routerLink="/members/{{member?.roleId}}" (click)="dropdownShow()">Profile</button>
  <button class="flex h-10 pl-2 items-center text-white rounded-md xl:bg-transparent hover:bg-black" routerLink="/members/edit/{{member?.roleId}}" (click)="dropdownShow()">Edit profile</button>
  <button class="flex h-10 grow pl-2 items-center text-white rounded-md xl:bg-transparent hover:bg-black" (click)="dropdownShow(); logout()">Log out</button>
</div>

