<div class="mt-5 ml-10 mr-10 p-5 bg-white items-center">

    <div class="flex flex-row gap-5 items-center b">
        <div class="flex flex-col mb-5">
            <div>
                <p class="text-4xl pb-3">{{projectName}}</p>
            </div>

            <div class="flex flex-row gap-5 justify-between items-center">
                <div class="flex flex-col">
                    <p><b>{{projectDate | date:'yyyy-MM-dd'}}</b></p>
                    <p>Deadline</p>
                </div>

                <img src="http://localhost:8000/api/Member/{{teamLeaderInfo?.id}}/Avatar" class="hidden rounded-full border-dashed border-black border-2 xl:w-12 xl:h-12 xl:p-1 xl:table-cell">
                <div class="flex-col ml-3 justify-center">
                    <p class="text-xl pl-2" *ngIf="teamLeaderInfo"><b>{{ teamLeaderInfo?.firstName }} {{ teamLeaderInfo?.lastName }}</b></p>
                    <p>{{teamLeaderInfo?.roleName}}</p>
                </div>

                <form *ngFor="let column of dropList">
                    <input type="checkbox" [id]="column" [name]="column" [value]="column"  [(ngModel)]="columnVisibility[column]">
                    <label [for]="column" class="pl-1">{{ column | titlecase }}</label><br>
                </form>
                  
            </div>
        </div>


        <div class="flex-row justify-end ml-auto mt-4">
            <button type="button" class="px-3 py-2 bg-[#0E2954] text-white rounded-md min-h-3 font-normal hover mb-3 mr-3" (click)="openDialog()">Add task</button>
            <button type="button" class="px-3 py-2 bg-[#0E2954] text-white rounded-md min-h-3 font-normal hover mb-3 ml-3" (click)="openTaskStatusDialog()">Add Column</button>
        </div>
    </div>

    <mat-divider></mat-divider>


    <div class="w-full flex flex-row gap-5 p-10 overflow-auto" cdkDropListGroup>
        <div *ngFor="let column of dropList" class="flex flex-col bg-gray-200 border-2 border-solid border-black rounded-lg w-1/3 p-5" [style.display]="columnVisibility[column] ? 'block' : 'none'">
            <div class="flex flex-row justify-between items-center h-10">
                <p class="mb-3 text-lg"><b>{{ column | titlecase }}</b></p>
            </div>

            <div
                cdkDropList
                [cdkDropListData]="getTasksByStatus(getStatusIdFromColumnName(column))"
                class="border-2 border-solid border-black rounded-md overflow-hidden block bg-white" [id]="column.toLowerCase()"
                (cdkDropListDropped)="drop($event)" >
                <ng-container *ngIf="getTasksByStatus(getStatusIdFromColumnName(column)).length > 0; else emptyList">
                    <ng-container *ngFor="let item of getTasksByStatus(getStatusIdFromColumnName(column)); let i = index">
                        <div class="px-2.5 py-2.5 flex flex-row items-center justify-between border-b-2 cursor-move task-item"  cdkDrag [cdkDragData]="item" [ngClass]="{
                            'low-priority': item.taskPriorityId === 1,
                            'medium-priority': item.taskPriorityId === 2,
                            'high-priority': item.taskPriorityId === 3
                          }">
                          <div class=" flex flex-col">
                            <p class="text-lg font-medium">{{item.taskName}}</p>
                            <p class="text-xs">{{item.deadline | date:'dd-MM-yyyy'}}</p>
                          </div>
                          
                            <button class="hidden w-5 h-5 sm:inline-flex md:inline-flex lg:inline-flex xl:inline-flex" 
                                (click)="openConfirmationDialog(column, item.taskId)"><mat-icon>delete</mat-icon></button>
                        </div>
                    </ng-container>
                </ng-container>

                <ng-template #emptyList>
                    <div class="px-2.5 py-5 flex flex-row items-center justify-between border-b-2 cursor-move">
                        No tasks.
                    </div>
                </ng-template>
            </div>
        </div>
    </div>


    <ng-toast></ng-toast>

</div>