<div class="flex flex-col gap-4 justify-center h-[100%]">

    <div class="flex flex-row gap-5 items-center mb-2">
        <p class="text-3xl font-semibold">Kanban View</p>
          <!--  <mat-accordion>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title class="flex flex-row justify-between ">
                        <p class="text-2xl mr-3">{{projectName}}</p>
                        <mat-icon>add</mat-icon>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                    <div class="flex flex-row">
                        <div class="flex-col mr-5">
                            <p><b>Deadline: </b></p>
                            <p> {{projectDate | date:'dd-MM-yyyy'}}</p>
                        </div>
                        <div class="flex-col mr-5">
                            <p><b>{{teamLeaderInfo?.roleName}}</b></p>
                            <p> {{ teamLeaderInfo?.firstName }} {{ teamLeaderInfo?.lastName }}</p>
                        </div>
                        <img [src]="environment.apiUrl + '/Member/' + teamLeaderInfo?.id + '/Avatar'" class="hidden rounded-full xl:w-12 xl:h-12 xl:table-cell" (click)="openMemberInfoDialog(teamLeaderInfo)">
                    </div>
                </mat-expansion-panel>
            </mat-accordion>-->

            <section class="example-section">
                <div>
                    <ul class="flex flex-row justify-evenly">
                        @for (column of dropList; track column) {
                            <li>
                                <mat-slide-toggle [(ngModel)]="columnVisibility[column]" color="primary" class="pr-0 mr-3">{{column | titlecase}}</mat-slide-toggle>
                          </li>
                        }
                      </ul>
                </div>
              </section>

        <div class="flex gap-2 justify-end ml-auto mt-4 gap ">
            <button mat-raised-button color="primary" type="button"  (click)="openDialog()">Add task</button>
            <button mat-raised-button color="primary" type="button"  (click)="openTaskStatusDialog()">Add Column</button>
        </div>
    </div>

    <mat-divider></mat-divider>


    <div class="w-full flex flex-row gap-5 py-5 overflow-x-auto overflow-y-auto h-full" cdkDropListGroup>
        <mat-card *ngFor="let column of dropList" class="flex flex-col bg-background rounded-lg min-w-[500px] overflow-y-auto" [style.display]="columnVisibility[column] ? 'block' : 'none'" style="width: 500px;" >
             <div  >

             <mat-card-header>
                <mat-card-title>
                    <div class="pb-2 pt-0">
                        {{ column | titlecase }}
                    </div>
                </mat-card-title>
            </mat-card-header>
         <mat-card-content>
            <div
                cdkDropList
                [cdkDropListData]="getTasksByStatus(getStatusIdFromColumnName(column))"
                class=" rounded-md overflow-hidden block" [id]="column.toLowerCase()"
                (cdkDropListDropped)="drop($event)" >
                <ng-container *ngIf="getTasksByStatus(getStatusIdFromColumnName(column)).length > 0; else emptyList">
                    <ng-container *ngFor="let item of getTasksByStatus(getStatusIdFromColumnName(column)); let i = index">
                        <div class="border border-solid border-black mb-1 rounded-md">
                            <mat-card class="cursor-move task-item" cdkDrag [cdkDragData]="item" [ngClass]="{
                                'low-priority': item.taskPriorityId === 1,
                                'medium-priority': item.taskPriorityId === 2,
                                'high-priority': item.taskPriorityId === 3
                            }">
                            <div class="flex flex-row items-center justify-between ml-3 py-2">
                                <div class=" flex flex-col">
                                    <p class="text-lg font-medium">{{item.taskName}}</p>
                                    <p class="text-xs">Due: {{item.deadline | date:'dd-MM-yyyy'}}</p>
                                </div>
                                <div class="flex">
                                  <button mat-icon-button (click)="openTaskOverview(item.taskId)">
                                    <i class="material-icons">article</i>
                                  </button>

                                  <button mat-icon-button (click)="openConfirmationDialog(column, item.taskId)">
                                    <i class="material-icons">delete</i>
                                  </button>
                                </div>
                            </div>

                            </mat-card>
                        </div>

                    </ng-container>
                </ng-container>
                <ng-template #emptyList>
                    <div>
                        <mat-card class="px-2.5 py-5 flex flex-row items-center justify-between">
                            <p>No tasks. Add a new task</p>
                        </mat-card>
                    </div>

                </ng-template>
            </div>
            </mat-card-content>


             </div>


        </mat-card>
    </div>
    <ng-toast></ng-toast>

</div>
