<div class="flex flex-col justify-center h-[100%]">

    <div class="flex flex-row gap-4 items-center">
        <p class="text-3xl font-semibold">Kanban View</p>

            <div class="flex gap-3 justify-end ml-auto items-center">
                <section class="example-section mt-3">
                    <div>
                      <mat-form-field appearance="fill">
                        <mat-label>Visible Columns</mat-label>
                        <mat-select [(ngModel)]="selectedColumns" multiple (selectionChange)="toggleColumnVisibility($event.value)">
                          <mat-option *ngFor="let column of dropList" [value]="column.name">
                            {{ column.name | titlecase }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                </section>
                <button mat-raised-button color="primary" type="button"  (click)="openDialog()"
                  [disabled]="!(projectId | hasProjectPermission:ProjectPermission.CREATE_TASK)">Add task</button>
                <button mat-raised-button color="primary" type="button"  (click)="openTaskStatusDialog()"
                  [disabled]="!(projectId | hasProjectPermission:ProjectPermission.ADD_TASK_STATUS)">Add Column</button>
            </div>

    </div>

    <mat-divider></mat-divider>


    <div class="w-full flex flex-row gap-5 py-5 overflow-x-auto overflow-y-auto h-full" cdkDropListGroup>
        <mat-card *ngFor="let column of dropList" class="flex flex-col bg-background rounded-lg min-w-[500px] overflow-y-auto" [style.display]="columnVisibility[column.name] ? 'block' : 'none'" style="width: 500px;">
             <div >

             <mat-card-header>
                <mat-card-title>
                    <div class="pb-2 pt-0">
                        {{ column.name | titlecase }}
                    </div>
                </mat-card-title>
            </mat-card-header>
         <mat-card-content>
            <div
                cdkDropList
                [cdkDropListData]="getTasksByStatus(getStatusIdFromColumnName(column.name))"
                class="min-h-full rounded-md overflow-hidden block" [id]="column.name.toLowerCase()"
                (cdkDropListDropped)="drop($event)">
                <ng-container *ngIf="getTasksByStatus(getStatusIdFromColumnName(column.name)).length > 0; else emptyList">
                    <ng-container *ngFor="let item of getTasksByStatus(getStatusIdFromColumnName(column.name)); let i = index">
                        <div class="border border-solid border-black mb-1 rounded-md">
                            <mat-card class="cursor-move task-item" cdkDrag [cdkDragDisabled]="!(projectId | hasProjectPermission:ProjectPermission.CHANGE_TASK_STATUS)" [cdkDragData]="item" [ngClass]="{
                                'low-priority': item.taskPriorityId === 1,
                                'medium-priority': item.taskPriorityId === 2,
                                'high-priority': item.taskPriorityId === 3
                            }">
                            <div class="flex flex-row items-center justify-between ml-3 py-2">
                                <div class=" flex flex-col">
                                    <p class="text-lg font-medium">{{item.taskName}}</p>
                                    <p class="text-xs">Due: {{item.deadline | date:'dd-MM-yyyy'}}</p>
                                </div>
                                <div class="flex">
                                  <button mat-icon-button (click)="openTaskOverview(item.taskId)">
                                    <i class="material-icons">article</i>
                                  </button>

                                  <button mat-icon-button (click)="openConfirmationDialog(column.name, item.taskId)"
                                    [disabled]="!(projectId | hasProjectPermission:ProjectPermission.DELETE_TASK)">
                                    <i class="material-icons">delete</i>
                                  </button>
                                </div>
                            </div>

                            </mat-card>
                        </div>

                    </ng-container>
                </ng-container>
                <ng-template #emptyList>
                    <div>
                        <mat-card class="px-2.5 py-5 flex flex-row items-center justify-between">
                            <p>No tasks. Add a new task</p>
                        </mat-card>
                    </div>

                </ng-template>
            </div>
          </mat-card-content>


        </div>


        </mat-card>
  </div>

</div>
