<div class="mt-5 ml-10 mr-10 p-5 bg-background items-center">

    <div class="flex flex-row gap-5 items-center">
        <div class="flex flex-col mb-5">
            <div>
                <p class="text-4xl">{{projectName}}</p>
            </div>
    
            <div class="flex flex-row gap-5 justify-between items-center">
                <div class="flex flex-col">
                    <p><b>{{projectDate | date:'yyyy-MM-dd'}}</b></p>
                    <p>Deadline</p>
                </div>

                <img src="assets/avatar.png" class="hidden rounded-full border-dashed border-black border-2 xl:w-12 xl:h-12 xl:p-1 xl:table-cell">
                <div class="flex-col ml-3 align-center">
                    <p class="text-xl" *ngIf="teamLeaderInfo"><b>{{ teamLeaderInfo.firstName }} {{ teamLeaderInfo.lastName }}</b></p>
                    <p>Project Manager</p>
                </div>

                <form *ngFor="let column of dropList">
                    <input type="checkbox" [id]="column" [name]="column" [value]="column" [(ngModel)]="columnVisibility[column]" (click)="toggleColumnVisibility(column)">
                    <label [for]="column" class="pl-1">{{ column | titlecase }}</label><br>
                </form>  
            </div>
        </div>

        
        <div class="flex-row justify-end ml-auto mt-4">
            <button type="button" class="px-3 py-2 bg-[#0E2954] text-white rounded-md min-h-3 font-normal hover mb-3 mr-3" (click)="openDialog()">Add task</button>
            <button type="button" class="px-3 py-2 bg-[#0E2954] text-white rounded-md min-h-3 font-normal hover mb-3 ml-3" (click)="openTaskStatusDialog()">Add Column</button>
        </div>
    </div>


    <div class="w-full flex flex-row gap-20 p-10" cdkDropListGroup>
        <div *ngIf="showToDoList" class="flex flex-col bg-gray-200 border-2 border-solid border-black rounded-lg w-1/3 p-5" >

            <div class="flex flex-row justify-between items-center h-10">
                <p class="mb-3 text-lg"><b>To Do</b></p>
            </div>

            <div
                cdkDropList
                [cdkDropListData]="todo"
                class="border-2 border-solid border-black rounded-md overflow-hidden block bg-white"
                (cdkDropListDropped)="drop($event)">
                
                <ng-container *ngIf="todo.length > 0; else emptyTodo">
                    <ng-container *ngFor="let item of todo; let i = index">
                        <div class="px-2.5 py-5 flex flex-row items-center justify-between border-b-2 cursor-move"  cdkDrag [cdkDragData]="item">{{item.taskName}}
                            <button class="hidden w-5 h-5 sm:inline-flex md:inline-flex lg:inline-flex xl:inline-flex"
                                (click)="openConfirmationDialog('todo', item.taskId)"><img src="assets/icons/delete_36_jpg.jpg"></button>
                        </div>
                    </ng-container> 
                </ng-container>

                <ng-template #emptyTodo>
                    <div class="px-2.5 py-5 flex flex-row items-center justify-between border-b-2 cursor-move">
                        No tasks.
                    </div>
                </ng-template>
            </div>

            
        </div>


        <div *ngIf="showProgressList" class="flex flex-col bg-gray-200 border-2 border-solid border-black rounded-lg w-1/3 p-5">
            
            <div class="flex flex-row justify-between items-center h-10">
                <p class="mb-3 text-lg"><b>In Progress</b></p>
            </div>

            <div
                cdkDropList
                [cdkDropListData]="progress.length > 0 ? progress : []"
                class="border-2 border-solid border-black rounded-md overflow-hidden block bg-white"
                (cdkDropListDropped)="drop($event)">
                <ng-container *ngIf="progress.length > 0; else emptyProgress">
                    <ng-container *ngFor="let item of progress; let i = index">
                        <div class="px-2.5 py-5 flex flex-row items-center justify-between border-b-2 cursor-move"  cdkDrag [cdkDragData]="item">{{item.taskName}}
                            <button class="hidden w-5 h-5 sm:inline-flex md:inline-flex lg:inline-flex xl:inline-flex"
                            (click)="openConfirmationDialog('progress', item.taskId)"><img src="assets/icons/delete_36_jpg.jpg"></button>
                        </div>
                    </ng-container> 
                </ng-container>

                <ng-template #emptyProgress>
                    <div class="px-2.5 py-5 flex flex-row items-center justify-between border-b-2 cursor-move">
                        No tasks.
                    </div>
                </ng-template>
            </div>
        </div>

        <div *ngIf="showDoneList" class="flex flex-col bg-gray-200 border-2 border-solid border-black rounded-lg w-1/3 p-5">
            <div class="flex flex-row justify-between items-center h-10">
                <p class="mb-3 text-lg"><b>Completed</b></p>
            </div>

            <div
                cdkDropList
                [cdkDropListData]="done.length > 0 ? done : []"
                class="border-2 border-solid border-black rounded-md overflow-hidden block bg-white"
                (cdkDropListDropped)="drop($event)">
                <ng-container *ngIf="done.length > 0; else emptyDone">
                <ng-container *ngFor="let item of done; let i = index">
                        <div class="px-2.5 py-5 flex flex-row items-center justify-between border-b-2 cursor-move"  cdkDrag [cdkDragData]="item">{{item.taskName}}
                            <button class="hidden w-5 h-5 sm:inline-flex md:inline-flex lg:inline-flex xl:inline-flex"
                            (click)="openConfirmationDialog('done', item.taskId)"><img src="assets/icons/delete_36_jpg.jpg"></button>
                        </div>
                    </ng-container> 
                </ng-container>

                <ng-template #emptyDone>
                    <div class="px-2.5 py-5 flex flex-row items-center justify-between border-b-2 cursor-move">
                        No tasks.
                    </div>
                </ng-template>
            </div>
        </div>

        <div *ngIf="showNewStatusList" class="flex flex-col bg-gray-200 border-2 border-solid border-black rounded-lg w-1/3 p-5">
            <p>Ja sam</p>
        </div>
    </div>


    <ng-toast></ng-toast>

</div>