<div class="h-full flex flex-col select-none">
  <mat-toolbar class="flex justify-between">
    <h1>Roles Overview</h1>

    <button mat-button type="button" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="grow">
    <mat-sidenav #sidenav mode="side" opened="true">
      <mat-nav-list>
        <mat-list-item>New Role</mat-list-item>
        <hr>
        <mat-list-item *ngFor="let role of roles">{{role.name}}</mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <p>Testasdasd</p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
