<section class="">
  <form
    [formGroup]="projectForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col place-items-center min-h-screen"
  >
    <div class="grid grid-rows-2">
      <div class="mt-8 grid lg:grid-cols-2 gap-10">
        <div class="grid grid-rows-2">
          <label for="projectName" class="">Project Name</label>
          <input
            type="text"
            id="projectName"
            formControlName="projectName"
            class="border-2 rounded-md max-h-8"
          />
        </div>

        <div class="grid grid-rows-2">
          <label for="deadLine">Due Date</label>
          <input
            class="border-2 rounded-md max-h-8"
            type="date"
            formControlName="deadLine"
            id="date"
          />
        </div>
      </div>

      <div class="mt-5 grid grid-rows-2">
        <label for="projectDescription">Description</label>
        <textarea
          type="text"
          formControlName="projectDescription"
          id="projectDescription"
          class="border-2 rounded-md"
        >
        </textarea>
      </div>
    </div>

    <button
      type="submit"
      class="mt-20 rounded-xl p-5 bg-accent-blue shadow-md text-white text-xl font-bold"
    >
      Create Project
    </button>

    <div *ngIf="isSuccess; else errorMessage" class="mt-8">
      <label>Projekat je uspešno dodat</label>
    </div>

    <ng-template #errorMessage>
      <div *ngIf="isError" class="mt-8">
        <label>Greška prilikom dodavanja projekta</label>
      </div>
    </ng-template>
  </form>
</section>
