<div *ngIf="saveChanges" class="alert alert-success">
  Izmena uspešno obavljena.
</div>
<div class="flex justify-center text-accent-blue">
  <table class="table-fixed">
    <thead class="text-xs xl:text-xl">
      <th></th>
      <th class="xl:w-60 xl:text-2xl">Role</th>
      <th class="xl:w-60 xl:text-2xl">Member</th>
      <th class="xl:w-60 xl:text-2xl">Actions</th>
    </thead>
    <tbody>
      <tr>
        <td colspan="4">
          <button class="rounded-lg border-dashed border-black border-2 w-full xl:text-xl xl:mb-3 xl:mt-3 xl:h-16">Add new</button>
        </td>
      </tr>
      <tr class="xl:mb-3 border-b-black border-2 xl:h-16" *ngFor="let role of roles">
        <td>
          <img ngSrc="assets/admin.png" class="hidden rounded-full border-dashed border-black border-2 xl:w-12 xl:h-12 xl:p-2 xl:table-cell"
               height="32" width="32" alt="Role icon">
        </td>
        <td class="text-center text-xs xl:w-60 xl:text-xl">{{role.name}}</td>
        <td class="text-center text-xs xl:w-60 xl:text-xl">{{role.count}}</td>
        <td class="text-center text-xs xl:w-60 xl:text-xl">
          <button class="inline-flex w-5 h-5 xl:mr-4"><img ngSrc="assets/icons/details_36_jpg.jpg" alt="Role details icon"
                                                           height="36" width="36"></button>
          <button [routerLink]="['/roles/edit', role.id]"  class="hidden w-5 h-5 xl:mr-4 xl:inline-flex"><img ngSrc="assets/icons/edit_36_jpg.jpg" alt="Role edit icon"
                                                                     height="37" width="37"></button>
          <button class="hidden w-5 h-5 xl:inline-flex"><img ngSrc="assets/icons/delete_36_jpg.jpg" alt="Role delete icon"
                                                             height="36" width="32"></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
