<div class="flex justify-center mt-5">
  <div class="flex w-[90%] justify-center">
    <div class="flex flex-col gap-2">
      <div class="flex flex-row ml-2 items-center border-b-gray-300 border-b-2 pb-2 gap-5">
        <form>
          <select id="sort" class="rounded-md bg-gray-50 border border-gray-300 hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 placeholder:text-gray-400">
            <option disabled selected >Sort by</option>
            <option value="name">Name</option>
          </select>
        </form>

        <input type="text" id="name" aria-label="disabled input 2" class="flex border border-gray-300 text-sm rounded-md p-2.5 w-50" value="" placeholder="Filter by name...">

        <span class="grow"></span>

        <button type="button" class="flex items-center justify-center w-48 text-white bg-[#0E2954] font-medium rounded-md text-sm px-5 py-2.5 me-2  xl:hover:bg-[#0B2043]">New role</button>

      </div>


      <div class="flex justify-center">
        <div class="table border-[1px] border-gray-300 rounded-md">
          <tr>
            <th class="text-center p-3 w-60">NAME</th>
            <th class="text-center w-60">NUMBER OF MEMBERS</th>
            <th class="text-center w-10"></th>
          </tr>

          <tr *ngIf="roles?.length === 0">
            <td class="p-2 border-t-[1px] border-t-gray-300" colspan="8">No roles.</td>
          </tr>

          <tr *ngFor="let role of roles" class="border-[1px] border-gray-500 hover:bg-gray-300">
            <td class="text-center w-60 border-t-[1px] border-t-gray-300 p-2">{{role.name}}</td>
            <td class="text-center w-60 border-t-[1px] border-t-gray-300">{{role.id}}</td>
            <td class="text-center w-10 border-t-[1px] border-t-gray-300"><button class="font-extrabold text-3xl"  mat-button [matMenuTriggerFor]="menu">...</button></td>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>View</button>
              <button mat-menu-item class="p-2 bg-red-500 rounded-md font-semibold text-black">Delete</button>
            </mat-menu>
          </tr>
        </div>
      </div>
    </div>
  </div>
</div>
