.mat-sort-header-container {
  align-items: center;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-header-cell-def {
  text-align: center;
}

.center-header {
  text-align: center;
}

.mat-column-avatar {
  width: 32px;
  text-align: center;
}

.mat-column-name {
  text-align: center;
}

.mat-column-role {
  text-align: center;
}

.mat-column-email {
  text-align: center;
}

.mat-column-tasks {
  text-align: center;
}

.mat-column-date {
  text-align: center;
}