<header class="flex justify-between items-center text-2xl pl-8 pr-8 pt-4 text-accent-blue font-bold select-none">
  <p class="flex justify-center items-center text-4xl">{{ title }}</p>

  <a class="right-0 flex justify-center items-center gap-2 p-2 rounded-xl hover:bg-accent-blue" (click)="dropdownShow()">
    <img ngSrc="/assets/avatar.png" alt="Person avatar" height="48" width="48">
    <img src="/assets/icons/dropDownIcon.png" class="w-4 h-2 rotate-180" *ngIf="visible">
    <img src="/assets/icons/dropDownIcon.png" class="w-4 h-2" *ngIf="!visible">
  </a>
</header>

<app-profile-dropdown-menu [visible]="visible"></app-profile-dropdown-menu>
