<div class="flex flex-col gap-2">
  <div class="flex items-center justify-center">
    <p class="text-xl">Project Files</p>
    <span class="grow"></span>
    <button mat-raised-button color="primary"
      [disabled]="!(projectId | hasProjectPermission:ProjectPermission.ADD_FILE)"
      (click)="fileInput.click()">Upload Files</button>
    <input hidden (change)="uploadFiles($event)" #fileInput type="file" multiple>
  </div>

  <mat-card>
    <mat-card-content>
      <div class="flex flex-col">
        <div class="flex flex-col gap-4">
          @for (file of files; track file.fileId) {
            <div class="flex gap-2 items-center">
              <div class="flex items-center justify-center">
                <mat-icon class="scale-150">insert_drive_file</mat-icon>
              </div>

              <div class="flex flex-col">
                <a class="text-xl hover:underline" target="_blank" href="{{environment.apiUrl}}/Project/{{projectId}}/File/{{file.fileId}}">
                  {{file.originalName}}
                </a>
                <div class="flex gap-1">
                  <p class="text-sm">Uploaded by:</p>
                  <a class="text-sm hover:underline" [routerLink]="['/members', file.uploader.id]">
                    {{file.uploader.firstName + ' ' + file.uploader.lastName}}
                  </a>
                </div>
              </div>

<!--              <mat-form-field subscriptSizing="dynamic">-->
<!--                <mat-label>File Name</mat-label>-->
<!--                <input matInput type="text" required [value]="file.originalName">-->
<!--              </mat-form-field>-->

              <span class="grow"></span>

              <button mat-icon-button>
                <mat-icon>file_download</mat-icon>
              </button>

              <button mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn"
                [disabled]="!(projectId | hasProjectPermission:ProjectPermission.REMOVE_FILE) && file.uploader.id !== authId"
                (click)="deleteFile(file.fileId)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>

            <mat-divider class="w-full" *ngIf="!$last"></mat-divider>
          } @empty {
            <p class="flex items-center justify-center">There are no uploaded project files</p>
          }
        </div>
      </div>

    </mat-card-content>
  </mat-card>
</div>
