<div class="flex flex-col justify-center h-[100%]">
  <div class="p-4 flex gap-4 items-center justify-center">
    <div class="flex gap-4 p-2">
      <mat-form-field class="w-96" subscriptSizing="dynamic">
        <mat-label class="select-none">
          <div class="flex items-center justify-between gap-2">
            <p>Search tasks</p>
            <mat-icon class="scale-125">search</mat-icon>
          </div>
        </mat-label>

        <input matInput (keyup)="search($event)">
      </mat-form-field>

      <p class="flex justify-center items-center">Show:</p>
      <mat-radio-group [(ngModel)]="selectedViewType" color="primary">
        <mat-radio-button *ngFor="let view of views" [value]="view.value" (click)="selectView(view.value)">
          {{ view.name }}
        </mat-radio-button>
      </mat-radio-group>

      <button mat-raised-button color="primary" (click)="scrollToToday()">Scroll to today</button>
    </div>


    <span class="grow"></span>

    <!--    <button mat-raised-button color="primary" (click)="openAddTask()">Add Task</button>-->
  </div>

  <ngx-gantt #gantt
             [items]="ganttItems"
             [groups]="ganttGroups"
             [viewType]="viewType"
             [draggable]="true"
             [selectable]="true"
             [multiple]="true"
             [linkable]="true"
             (barClick)="barClick($event)"
             (selectedChange)="selectedChange($event)"
             (dragEnded)="dragEnded($event)"
             (linkDragEnded)="linkEnded($event)">

    <ngx-gantt-table>
      <ngx-gantt-column name="Task Name" width="160px" [showExpandIcon]="true" class="select-none">
        <ng-template #cell let-item="item"> {{ item.title }} </ng-template>
      </ngx-gantt-column>

      <ngx-gantt-column name="Start Date" width="120px">
        <ng-template #cell let-item="item">
          {{ item.start * 1000 | date : 'dd-MM-yyyy' }}
        </ng-template>
      </ngx-gantt-column>
      <ngx-gantt-column name="End Date" width="120px">
        <ng-template #cell let-item="item">
          {{ item.end * 1000 | date : 'dd-MM-yyyy' }}
        </ng-template>
      </ngx-gantt-column>
    </ngx-gantt-table>
  </ngx-gantt>
</div>
