<div class="flex flex-col justify-center h-[100%] border-[1px]">
  <div class="p-4 flex gap-4">
    <div class="flex gap-2">
      <p class="flex justify-center items-center">Show:</p>
      <mat-radio-group [(ngModel)]="selectedViewType">
        <mat-radio-button *ngFor="let view of views" [value]="view.value" (click)="selectView(view.value)">
          {{ view.name }}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <button mat-raised-button color="primary" (click)="scrollToToday()">Scroll to today</button>

    <span class="grow"></span>

    <button mat-raised-button color="primary">Add Task</button>
  </div>

  <ngx-gantt *ngIf="startRendering" #gantt
             [items]="ganttTasks"
             [groups]="ganttCategories"
             [viewType]="viewType"
             [draggable]="true"
             [selectable]="true"
             (barClick)="barClick($event)"
             (selectedChange)="selectedChange($event)"
             (dragEnded)="dragEnded($event)">

    <ngx-gantt-table [draggable]="true">
      <ngx-gantt-column name="Task Name" width="160px" [showExpandIcon]="true">
        <ng-template #cell let-item="item"> {{ item.title }} </ng-template>
      </ngx-gantt-column>
    </ngx-gantt-table>
  </ngx-gantt>
</div>
