<div class="flex justify-center p-8">
  <div class="p-2 basis-[95%] flex flex-col bg-background gap-4 rounded-t-xl">
    <div class="flex flex-col gap-4 select-none">
      <p class="text-accent-blue font-bold text-2xl">Assignees</p>

      <div class="flex gap-10">
        <div class="flex">
          <input class="rounded-l-xl" type="text" placeholder="Search by name...">
          <button class="rounded-r-xl bg-accent-blue text-l text-white w-[100px]">Search</button>
        </div>

        <select class="rounded-xl text-accent-blue">
          <option selected>Sort by</option>
          <option>Name</option>
          <option>Role</option>
          <option>Load</option>
          <option>Last login</option>
        </select>

        <span class="grow"></span>

        <div class="flex gap-1">
          <button class="rounded-xl bg-accent-blue text-l text-white w-[150px]">Add new Assignee</button>
        </div>
      </div>
    </div>

    <hr class="border-accent-blue">

    <div class="flex gap-4 text-accent-blue">
      <p class="text-accent-blue font-bold">Show only:</p>

      <div class="flex items-center justify-center gap-1 ">
        <input type="radio" id="radio-all" name="radio-filter">
        <label for="radio-all">All</label>
      </div>

      <div class="flex items-center justify-center gap-1">
        <input type="radio" id="radio-in-progress" name="radio-filter">
        <label for="radio-in-progress">Active</label>
      </div>

      <div class="flex items-center justify-center gap-1">
        <input type="radio" id="radio-completed" name="radio-filter">
        <label for="radio-completed">Inactive</label>
      </div>
    </div>

    <hr class="border-accent-blue">

    <table>
      <thead class="text-left">
      <tr class="text-accent-blue h-12 select-none">
        <th class="text-xl">USER</th>
        <th class="text-xl">ROLE</th>
        <th class="text-xl">STATUS</th>
        <th class="text-xl">LOAD</th>
        <th class="text-xl">LAST LOGIN</th>
        <th></th>
      </tr>
      </thead>
    </table>
  </div>
</div>
