<div class="flex flex-col mt-5 max-w-80% items-center">

        <div class="flex flex-row ml-2 items-center border-b-gray-300 border-b-2 pb-2 gap-5 w-4/5">
        

          <input type="text" id="name" aria-label="disabled input 2" class="flex border border-gray-300 text-sm rounded-md p-2.5 w-1/3" value="" placeholder="Search..."  pInputText [(ngModel)]="searchTerm" (input)="search()">

          <span class="grow"></span>

          <button (click)="openDialog()" type="button" class="flex items-center justify-center w-48 text-white bg-[#0E2954] font-medium rounded-md text-sm px-5 py-2.5 me-2  xl:hover:bg-[#0B2043]">New project</button>

        </div>

        
        <div class="flex flex-row items-center p-2 w-4/5">
          <h1 class="mr-2">Show only:</h1>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button  id="allProjects" value="allProjects" class="mr-2" (click)="onStatusChange($event)" checked color="primary">All Projects</mat-radio-button>
            <mat-radio-button  id="activeProjects" value="activeProjects" class="mr-2" (click)="onStatusChange($event)" color="primary">Active projects</mat-radio-button>
            <mat-radio-button  id="finishedProjects" value="finishedProjects" class="mr-2" (click)="onStatusChange($event)" color="primary">Finished projects</mat-radio-button>
          </mat-radio-group>
          
        </div>
  
    
        <!--
        <div class="flex flex-row items-center p-2 w-4/5">
          <h1 class="mr-2">Show only:</h1>
          <input type="radio" name="projectShow" id="allProjects" value="allProjects" class="mr-2" [(ngModel)] = "selectedTable" checked>
          <label for="allProjects" class="mr-2">All projects</label>

          <input type="radio" name="projectShow" id="activeProjects" value="activeProjects" class="mr-2" [(ngModel)] = "selectedTable">
          <label for="activeProjects" class="mr-2">Active projects</label>

          <input type="radio" name="projectShow" id="finishedProjects" value="finishedProjects" class="mr-2" [(ngModel)] = "selectedTable">
          <label for="activeProjects" class="mr-2">Finished projects</label>

        </div>-->


        <div class="mat-elevation-z8 w-4/5">
          <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
            
            <ng-container matColumnDef="project">
              <th mat-header-cell *matHeaderCellDef  mat-sort-header sortActionDescription="Sort by project"> PROJECT </th>
              <td mat-cell *matCellDef="let project"> {{project.projectName}}</td>
            </ng-container>
        
            <ng-container matColumnDef="startDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by startDate">START DATE </th>
              <td mat-cell *matCellDef="let project"> {{project.startDate | date :'dd-MM-yyyy'}} </td>
            </ng-container>
        
            <ng-container matColumnDef="endDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header sortActionDescription="Sort by endDate"> DUE DATE </th>
              <td mat-cell *matCellDef="let project"> {{project.endDate | date :'dd-MM-yyyy'}} </td>
            </ng-container>
        
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">STATUS</th>
              <td mat-cell *matCellDef="let project"> {{project.status}} </td>
            </ng-container>
            
            <ng-container matColumnDef="manager">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> PROJECT MANAGER  </th>
              <td mat-cell *matCellDef="let project"> {{project.lead.firstName}} {{project.lead.lastName}} </td>
            </ng-container>
         
           <!-- <ng-container matColumnDef="details">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> DETAILS </th>
              <td mat-cell *matCellDef="let project">  <button class="font-extrabold text-3xl"  mat-button [matMenuTriggerFor]="menu">...</button></td>
              <mat-menu #menu="matMenu">
                <button mat-menu-item *matItemDef="let project" [routerLink]="['/projects', project.id]">View</button>
                <button mat-menu-item *matCellDef="let project" class="p-2 bg-red-500 rounded-md font-semibold text-black" (click)="clickMethod(project.projectName, project.id, project.status)">Delete</button>
              </mat-menu>
            </ng-container>-->
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
  
        <mat-paginator [pageSizeOptions]="[5, 10, 25]" aria-label="Select page of users"></mat-paginator>
        </div>
  

        <!--
        <div class="flex justify-center" *ngIf="selectedTable === 't1'">
          <div class="table border-[1px] border-gray-300 rounded-md">
            <tr class="">
              <th class="text-left p-3 w-60">PROJECT</th>
              <th class="text-left w-60">START DATE</th>
              <th class="text-left w-60">DUE DATE</th>
              <th class="text-left w-60">STATUS</th>
              <th class="text-left w-60">PRIORITY</th>
              <th class="text-left w-52">PROJECT MANAGER</th>
              <th class="text-left w-20"></th>
            </tr>

            <tr *ngIf="finishedProjectsCount === 0 && activeProjectsCount === 0">
              <td class="p-2 border-t-[1px] border-t-gray-300" colspan="8">No projects.</td>
            </tr>

            <tr *ngFor="let project of allProjects" class="border-[1px] border-gray-500 hover:bg-gray-300">
              <td class="w-60 border-t-[1px] border-t-gray-300 p-2">{{project.projectName}}</td>
              <td class="w-60 border-t-[1px] border-t-gray-300">{{project.startDate | date}}</td>
              <td class="w-60 border-t-[1px] border-t-gray-300">{{project.endDate | date}}</td>
              <td *ngIf="project.status == 'In Preparation'" class="w-60 border-t-[1px] border-t-gray-300 "><div class="bg-[#EE9322] w-fit p-1 rounded-md text-[#FFF455] drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.3)]">{{project.status}}</div></td>
              <td *ngIf="project.status == 'Closed'" class="w-60 border-t-[1px] border-t-gray-300"><div class="bg-[#002d00] w-fit p-1 rounded-md drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.3)] text-[#6cb224]">{{project.status}}</div></td>
              <td *ngIf="project.status == 'In Progress'" class="w-60 border-t-[1px] border-t-gray-300"><div class="bg-[#0029a3] w-fit p-1 rounded-md drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.3)] text-[#7ebbfc]">{{project.status}}</div></td>
              <td class="w-60 border-t-[1px] border-t-gray-300">Important</td>
              <td class="w-52 border-t-[1px] border-t-gray-300">Pera Peric</td>
              <td class="w-10 border-t-[1px] border-t-gray-300"><button class="font-extrabold text-3xl"  mat-button [matMenuTriggerFor]="menu">...</button></td>
              <mat-menu #menu="matMenu">
                <button mat-menu-item [routerLink]="['/projects', project.id]">View</button>
                <button mat-menu-item class="p-2 bg-red-500 rounded-md font-semibold text-black" (click)="clickMethod(project.projectName, project.id, project.status)">Delete</button>
              </mat-menu>
            </tr>
          </div>
        </div>



        <div class="flex justify-center" *ngIf="selectedTable === 't2'">
          <div class="table border-[1px] border-gray-300 rounded-md">
            <tr class="">
              <th class="text-left p-3 w-60">PROJECT</th>
              <th class="text-left w-60">START DATE</th>
              <th class="text-left w-60">DUE DATE</th>
              <th class="text-left w-60">STATUS</th>
              <th class="text-left w-60">PRIORITY</th>
              <th class="text-left w-52">PROJECT MANAGER</th>
              <th class="text-left w-20"></th>
            </tr>


            <tr *ngIf="activeProjectsCount === 0">
              <td class="p-2 border-t-[1px] border-t-gray-300" colspan="8">No active projects.</td>
            </tr>

            <tr *ngFor="let project of activeProjects" class="border-[1px] border-gray-500 hover:bg-gray-300">
              <td class="w-60 border-t-[1px] border-t-gray-300 p-2">{{project.projectName}}</td>
              <td class="w-60 border-t-[1px] border-t-gray-300">{{project.startDate | date}}</td>
              <td class="w-60 border-t-[1px] border-t-gray-300">{{project.endDate | date}}</td>
              <td *ngIf="project.status == 'In Preparation'" class="w-60 border-t-[1px] border-t-gray-300 "><div class="bg-[#EE9322] w-fit p-1 rounded-md text-[#FFF455] drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.3)]">{{project.status}}</div></td>
              <td *ngIf="project.status == 'Closed'" class="w-60 border-t-[1px] border-t-gray-300"><div class="bg-[#002d00] w-fit p-1 rounded-md drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.3)] text-[#6cb224]">{{project.status}}</div></td>
              <td *ngIf="project.status == 'In Progress'" class="w-60 border-t-[1px] border-t-gray-300"><div class="bg-[#0029a3] w-fit p-1 rounded-md drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.3)] text-[#7ebbfc]">{{project.status}}</div></td>
              <td class="w-60 border-t-[1px] border-t-gray-300">Important</td>
              <td class="w-52 border-t-[1px] border-t-gray-300">Pera Peric</td>
              <td class="w-10 border-t-[1px] border-t-gray-300"><button class="font-extrabold text-3xl"  mat-button [matMenuTriggerFor]="menu">...</button></td>
              <mat-menu #menu="matMenu">
                <button mat-menu-item [routerLink]="['/projects', project.id]">View</button>
                <button mat-menu-item class="p-2 bg-red-500 rounded-md font-semibold text-black" (click)="clickMethod(project.projectName, project.id, project.status)">Delete</button>
              </mat-menu>
            </tr>
          </div>
        </div>



        <div class="flex justify-center" *ngIf="selectedTable === 't3'">
          <div class="table border-[1px] border-gray-300 rounded-md">
            <tr class="">
              <th class="text-left p-3 w-60">PROJECT</th>
              <th class="text-left w-60">START DATE</th>
              <th class="text-left w-60">DUE DATE</th>
              <th class="text-left w-60">STATUS</th>
              <th class="text-left w-60">PRIORITY</th>
              <th class="text-left w-52">PROJECT MANAGER</th>
              <th class="text-left w-20"></th>
            </tr>

            <tr *ngIf="finishedProjectsCount === 0">
              <td class="p-2 border-t-[1px] border-t-gray-300" colspan="8">No finished projects.</td>
            </tr>
            <tr *ngFor="let project of finishedProjects" class="border-[1px] border-gray-500 hover:bg-gray-300">
              <td class="w-60 border-t-[1px] border-t-gray-300 p-2">{{project.projectName}}</td>
              <td class="w-60 border-t-[1px] border-t-gray-300">{{project.startDate | date}}</td>
              <td class="w-60 border-t-[1px] border-t-gray-300">{{project.endDate | date}}</td>
              <td *ngIf="project.status == 'In Preparation'" class="w-60 border-t-[1px] border-t-gray-300 "><div class="bg-[#EE9322] w-fit p-1 rounded-md text-[#FFF455] drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.3)]">{{project.status}}</div></td>
              <td *ngIf="project.status == 'Closed'" class="w-60 border-t-[1px] border-t-gray-300"><div class="bg-[#002d00] w-fit p-1 rounded-md drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.3)] text-[#6cb224]">{{project.status}}</div></td>
              <td *ngIf="project.status == 'In Progress'" class="w-60 border-t-[1px] border-t-gray-300"><div class="bg-[#0029a3] w-fit p-1 rounded-md drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.3)] text-[#7ebbfc]">{{project.status}}</div></td>
              <td class="w-60 border-t-[1px] border-t-gray-300">Important</td>
              <td class="w-52 border-t-[1px] border-t-gray-300">Pera Peric</td>
              <td class="w-10 border-t-[1px] border-t-gray-300"><button class="font-extrabold text-3xl"  mat-button [matMenuTriggerFor]="menu">...</button></td>
              <mat-menu #menu="matMenu">
                <button mat-menu-item [routerLink]="['/projects', project.id]">View</button>
                <button mat-menu-item class="p-2 bg-red-500 rounded-md font-semibold text-black" (click)="clickMethod(project.projectName, project.id, project.status)">Delete</button>
              </mat-menu>
            </tr>
          </div>
        </div>-->

 </div>















   








