<div class="flex flex-col mt-5 max-w-80% items-center">

        <div class="flex flex-row  mb-2 items-center border-b-gray-300 border-b-[1px] pb-2 gap-5 w-4/5">

          <mat-form-field class="w-96" subscriptSizing="dynamic">
            <mat-label>
              <div class="flex items-center justify-between gap-2">
                <p>Search</p>
                <mat-icon class="scale-125">search</mat-icon>
              </div>
            </mat-label>

            <input matInput (keyup)="search($event)">
          </mat-form-field>

          <mat-form-field subscriptSizing="dynamic">
            <mat-label>Filter by status</mat-label>

            <mat-select [(ngModel)]="selectedStatus" (ngModelChange)="onStatusChange($event)">
              <mat-option value="0">All Projects</mat-option>
              @for (projectStatus of projectStatuses; track projectStatus.projectStatusId) {
                <mat-option [value]="projectStatus.projectStatusId">{{projectStatus.projectStatus}}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <span class="grow"></span>

          <button mat-raised-button color="primary" (click)="openDialog()" type="button" class="flex items-center justify-center">Add Project</button>
        </div>

        <div class="mat-elevation-z8 w-4/5">
          <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

            <ng-container matColumnDef="project">
              <th mat-header-cell *matHeaderCellDef  mat-sort-header sortActionDescription="Sort by project"> PROJECT </th>
              <td mat-cell *matCellDef="let project">
                <a class="hover:underline" [routerLink]="['/projects', project.projectId]">
                  {{project.projectName}}
                </a>
              </td>
            </ng-container>

            <ng-container matColumnDef="startDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by startDate">START DATE </th>
              <td mat-cell *matCellDef="let project"> {{project.startDate | date :'dd-MM-yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="deadline">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by endDate"> DUE DATE </th>
              <td mat-cell *matCellDef="let project"> {{project.deadline | date :'dd-MM-yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="priority">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">PRIORITY</th>
              <td mat-cell *matCellDef="let project"> {{project.projectPriority}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">STATUS</th>
              <td mat-cell *matCellDef="let project"> {{project.status}} </td>
            </ng-container>

            <ng-container matColumnDef="manager">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> PROJECT MANAGER  </th>
              <td mat-cell *matCellDef="let project">
                <a class="hover:underline" [routerLink]="['/members', project.teamLider.id]">
                  {{project.teamLider.firstName}} {{project.teamLider.lastName}}
                </a>
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ACTIONS </th>
              <td mat-cell *matCellDef="let project">
                <button class="font-extrabold text-3xl" mat-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">...</button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item [routerLink]="['/projects', project.projectId]">View</button>
                  <button mat-menu-item class="p-2 bg-red-500 rounded-md font-semibold text-black" (click)="clickMethod(project.projectName, project.projectId, project.status)">Delete</button>
                </mat-menu>
              </td>
            </ng-container>

          <tr class="select-none" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator class="select-none" [pageSizeOptions]="[5, 10, 25]" aria-label="Select page of users"></mat-paginator>
      </div>

  <ng-toast></ng-toast>
 </div>
























