<div class="flex flex-col mt-5 max-w-80% items-center">
  <div class="flex flex-row  gap-5 mb-2 items-center border-b-gray-300 border-b-[1px] pb-2 w-4/5">
    <mat-form-field class="w-96" subscriptSizing="dynamic">
      <mat-label class="select-none">
        <div class="flex items-center justify-between gap-2">
          <p>Search projects</p>
          <mat-icon class="scale-125">search</mat-icon>
        </div>
      </mat-label>

      <input matInput (input)="searchProj($event)">
    </mat-form-field>


    <mat-form-field subscriptSizing="dynamic">
      <mat-label class="select-none">Filter by status</mat-label>

      <mat-select [value]="selectedStatus" [(ngModel)]="selectedStatus" (ngModelChange)="onStatusChange($event)">
        <mat-option [value]="defaultStatus">All Projects</mat-option>
        @for (projectStatus of projectStatuses; track projectStatus.projectStatusId) {
          <mat-option [value]="projectStatus.projectStatusId">{{projectStatus.projectStatus}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <span class="grow"></span>

    <p class="text-4xl select-none">Assigned Projects</p>
  </div>

  <div class="mat-elevation-z8 w-4/5 mb-4">
    <table mat-table [dataSource]="projectSource" matSort (matSortChange)="announceSortChange($event)">

      <ng-container matColumnDef="projectName">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header sortActionDescription="Sort by projectName">PROJECT</th>
        <td mat-cell *matCellDef="let project"> {{project.projectName}}</td>
      </ng-container>

      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by startDate">START DATE </th>
        <td mat-cell *matCellDef="let project"> {{project.startDate | date :'dd-MM-yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="deadline">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by deadline">DUE DATE</th>
        <td mat-cell *matCellDef="let project"> {{project.deadline | date :'dd-MM-yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="projectPriority">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by projectPriority">PRIORITY</th>
        <td mat-cell *matCellDef="let project">{{project.projectPriority}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">STATUS</th>
        <td mat-cell *matCellDef="let project"> {{project.status}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ACTIONS</th>
        <td mat-cell *matCellDef="let project">
          <button class="font-extrabold text-3xl" mat-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">...</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/projects', project.projectId]">View</button>
          </mat-menu>
        </td>
      </ng-container>

      <tr class="select-none" mat-header-row *matHeaderRowDef="projectColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: projectColumns;"></tr>
    </table>

    <mat-paginator class="select-none" [pageSizeOptions]="[5, 10, 25]" aria-label="Select page of users"></mat-paginator>
  </div>

  <div class="flex flex-row gap-5  mb-2 items-center border-b-gray-300 border-b-[1px] pb-2 gap-5 w-4/5">
    <mat-form-field class="w-96" subscriptSizing="dynamic">
    <mat-label class="select-none">
      <div class="flex items-center justify-between gap-2">
        <p>Search tasks</p>
        <mat-icon class="scale-125">search</mat-icon>
      </div>
    </mat-label>

    <input matInput (keyup)="searchTask($event)">
  </mat-form-field>

    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Filter by status</mat-label>

      <mat-select>
        <mat-option value="allProjects">New</mat-option>
        <mat-option value="activeProjects">In Progress</mat-option>
        <mat-option value="finishedProjects">Complete</mat-option>
      </mat-select>
    </mat-form-field>

    <span class="grow"></span>

    <p class="text-4xl select-none">Assigned Tasks</p>
  </div>

  <div class="mat-elevation-z8 w-4/5">
    <table mat-table [dataSource]="taskSource" matSort (matSortChange)="announceSortChange($event)">

      <ng-container matColumnDef="taskName">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header sortActionDescription="Sort by taskName">TASK</th>
        <td mat-cell *matCellDef="let task"> {{task.taskName}}</td>
      </ng-container>

      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by startDate">START DATE </th>
        <td mat-cell *matCellDef="let task"> {{task.startDate | date :'dd-MM-yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="deadline">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by deadline">DUE DATE</th>
        <td mat-cell *matCellDef="let task"> {{task.deadline | date :'dd-MM-yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="taskPriorityName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by projectPriority">PRIORITY</th>
        <td mat-cell *matCellDef="let task">{{task.taskPriorityName}} </td>
      </ng-container>

      <ng-container matColumnDef="taskStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">STATUS</th>
        <td mat-cell *matCellDef="let task"> {{task.taskStatus}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ACTIONS</th>
        <td mat-cell *matCellDef="let task">
          <button class="font-extrabold text-3xl" mat-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">...</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>View</button>
          </mat-menu>
        </td>
      </ng-container>

      <tr class="select-none" mat-header-row *matHeaderRowDef="taskColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: taskColumns;"></tr>
    </table>

    <mat-paginator class="select-none" [pageSizeOptions]="[5, 10, 25]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
