<div class="flex justify-center p-8">
  <div class="p-2 basis-[95%] flex flex-col bg-background gap-4 rounded-t-xl">
    <div class="flex flex-col gap-4 select-none">
      <p class="text-accent-blue font-bold text-2xl">All Tasks</p>

      <div class="flex gap-10">
        <div class="flex">
          <input class="rounded-l-xl" type="text" placeholder="Search by name..">
          <button class="rounded-r-xl bg-accent-blue text-l text-white w-[100px]">Search</button>
        </div>

        <select class="rounded-xl text-accent-blue">
          <option selected>Sort by</option>
          <option>Name</option>
          <option>Priority</option>
          <option>Due date</option>
          <option>Progression</option>
        </select>

        <span class="grow"></span>

        <div class="flex gap-1">
          <button class="rounded-xl bg-accent-blue text-l text-white w-[120px]" (click)="openDialog()">Add new task</button>
        </div>
      </div>

      <hr class="border-accent-blue">

      <div class="flex gap-4 text-accent-blue">
        <p class="text-accent-blue font-bold">Show only:</p>

        <div class="flex items-center justify-center gap-1 ">
          <input type="radio" id="radio-all" name="radio-filter">
          <label for="radio-all">All</label>
        </div>

        <div class="flex items-center justify-center gap-1">
          <input type="radio" id="radio-in-progress" name="radio-filter">
          <label for="radio-in-progress">In Progress</label>
        </div>

        <div class="flex items-center justify-center gap-1">
          <input type="radio" id="radio-completed" name="radio-filter">
          <label for="radio-completed">Completed Tasks</label>
        </div>
      </div>
    </div>

    <hr class="border-accent-blue">

    <div class="flex justify-center">
      <div class="table border-[1px] border-gray-300 rounded-md">
        <tr class="">
          <th class="text-left p-3 w-60">TASK</th>
          <th class="text-left w-60">START DATE</th>
          <th class="text-left w-60">DUE DATE</th>
          <th class="text-left w-60">STATUS</th>
          <th class="text-left w-60">PRIORITY</th>
          <th class="text-left w-52">ASSIGNEES</th>
          <th class="text-left w-20"></th>
        </tr>

        <tr>
          <td *ngIf="allTasks.length == 0" class="p-2 border-t-[1px] border-t-gray-300" colspan="8">No finished projects.</td>
        </tr>
        <tr *ngFor="let task of allTasks" class="border-[1px] border-gray-500 hover:bg-gray-300">
          <td class="w-60 border-t-[1px] border-t-gray-300 p-2">{{task.taskName}}</td>
          <td class="w-60 border-t-[1px] border-t-gray-300">{{task.startDate | date}}</td>
          <td class="w-60 border-t-[1px] border-t-gray-300">{{task.deadline | date}}</td>
          <td *ngIf="task.taskStatusId == 1" class="w-60 border-t-[1px] border-t-gray-300 text-[#EE9322]">
            {{task.taskStatus}}
          </td>
          <td *ngIf="task.taskStatusId == 2" class="w-60 border-t-[1px] border-t-gray-300 text-[#0029a3]">
            {{task.taskStatus}}
          </td>
          <td *ngIf="task.taskStatusId == 3" class="w-60 border-t-[1px] border-t-gray-300 text-[#002d00]">
            {{task.taskStatus}}
          </td>
          <td *ngIf="task.taskPriorityId == 0" class="w-60 border-t-[1px] border-t-gray-300 "><div class="bg-[#EE9322] w-fit p-1 rounded-md text-[#FFF455] drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.3)]">{{task.taskPriorityName}}</div></td>
          <td *ngIf="task.taskPriorityId == 1" class="w-60 border-t-[1px] border-t-gray-300"><div class="bg-[#002d00] w-fit p-1 rounded-md drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.3)] text-[#6cb224]">{{task.taskPriorityName}}</div></td>
          <td *ngIf="task.taskPriorityId == 2" class="w-60 border-t-[1px] border-t-gray-300"><div class="bg-[#0029a3] w-fit p-1 rounded-md drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.3)] text-[#7ebbfc]">{{task.taskPriorityName}}</div></td>
          <td class="w-52 border-t-[1px] border-t-gray-300 h-[41px]">
            <div *ngFor="let assignee of task.assignedMembers" class="relative size-4 m-0 p-0 bg-[url'('assets/admin.png']">

            </div>
          </td>
          <td class="w-10 border-t-[1px] border-t-gray-300">
            <button class="font-extrabold text-3xl"  mat-button [matMenuTriggerFor]="menu">...</button>
          </td>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openDialogOverview(task.taskId)">View</button>
              <button mat-menu-item class="p-2 bg-red-500 rounded-md font-semibold text-black" (click)="deleteTask(task.taskId)">Delete</button>
            </mat-menu>
        </tr>
      </div>
    </div>

  </div>


  <ng-toast></ng-toast>
</div>
