<div class="flex justify-center p-8">
  <div class="p-2 basis-[95%] flex flex-col bg-background gap-4 rounded-t-xl">
    <div class="flex flex-col gap-4 select-none">
      <p class="text-accent-blue font-bold text-2xl">All Tasks</p>

      <div class="flex gap-10">
        <div class="flex">
          <input class="rounded-l-xl" type="text" placeholder="Search by name..">
          <button class="rounded-r-xl bg-accent-blue text-l text-white w-[100px]">Search</button>
        </div>

        <select class="rounded-xl text-accent-blue">
          <option selected>Sort by</option>
          <option>Name</option>
          <option>Priority</option>
          <option>Due date</option>
          <option>Progression</option>
        </select>

        <span class="grow"></span>

        <div class="flex gap-1">
          <button class="rounded-xl bg-accent-blue text-l text-white w-[120px]" (click)="openDialog()">Add new task</button>
        </div>
      </div>

      <hr class="border-accent-blue">

      <div class="flex gap-4 text-accent-blue">
        <p class="text-accent-blue font-bold">Show only:</p>

        <div class="flex items-center justify-center gap-1 ">
          <input type="radio" id="radio-all" name="radio-filter">
          <label for="radio-all">All</label>
        </div>

        <div class="flex items-center justify-center gap-1">
          <input type="radio" id="radio-in-progress" name="radio-filter">
          <label for="radio-in-progress">In Progress</label>
        </div>

        <div class="flex items-center justify-center gap-1">
          <input type="radio" id="radio-completed" name="radio-filter">
          <label for="radio-completed">Completed Tasks</label>
        </div>
      </div>
    </div>

    <hr class="border-accent-blue">

    <div class="flex justify-center">
      <div class="table border-[1px] border-gray-300 rounded-md">
        <thead>
          <tr class="">
            <th class="text-left w-60 p-3 border-b-[1px] border-b-gray-300">TASK GROUP</th>
            <th class="text-left w-60 border-b-[1px] border-b-gray-300">TASK</th>
            <th class="text-left w-60 border-b-[1px] border-b-gray-300">START DATE</th>
            <th class="text-left w-60 border-b-[1px] border-b-gray-300">DUE DATE</th>
            <th class="text-left w-60 border-b-[1px] border-b-gray-300">STATUS</th>
            <th class="text-left w-60 border-b-[1px] border-b-gray-300">PRIORITY</th>
            <th class="text-left w-52 border-b-[1px] border-b-gray-300">ASSIGNEES</th>
            <th class="text-left w-20 border-b-[1px] border-b-gray-300"></th>
          </tr>
        </thead>

        <tbody *ngFor="let cat of taskCategories; index as i">
          <td class="w-60 border-b-[1px] border-b-gray-300 p-3 hover:cursor-pointer" colspan="8" (click)="showNHide(i)">{{cat.taskCategoryName}}</td>
          <tr *ngFor="let task of allTasks" class="border-[1px] border-gray-500 hover:bg-gray-300">
            <td *ngIf="task.taskCategoryId == cat.taskCategoryId && visible[i]" class="w-60 border-b-[1px] border-b-gray-300"></td>
            <td *ngIf="task.taskCategoryId == cat.taskCategoryId && visible[i]" class="w-60 border-b-[1px] border-b-gray-300">{{task.taskName}}</td>
            <td *ngIf="task.taskCategoryId == cat.taskCategoryId && visible[i]" class="w-60 border-b-[1px] border-b-gray-300">{{task.startDate | date}}</td>
            <td *ngIf="task.taskCategoryId == cat.taskCategoryId && visible[i]" class="w-60 border-b-[1px] border-b-gray-300">{{task.deadline | date}}</td>
            <td *ngIf="task.taskStatusId == 1 && task.taskCategoryId == cat.taskCategoryId && visible[i]" class="w-60 border-b-[1px] border-b-gray-300 text-[#EE9322]">
              {{task.taskStatus}}
            </td>
            <td *ngIf="task.taskStatusId == 2 && task.taskCategoryId == cat.taskCategoryId && visible[i]" class="w-60 border-b-[1px] border-b-gray-300 text-[#0029a3]">
              {{task.taskStatus}}
            </td>
            <td *ngIf="task.taskStatusId == 3 && task.taskCategoryId == cat.taskCategoryId && visible[i]" class="w-60 border-b-[1px] border-b-gray-300 text-[#002d00]">
              {{task.taskStatus}}
            </td>
            <td *ngIf="task.taskPriorityId == 1 && task.taskCategoryId == cat.taskCategoryId && visible[i]" class="w-60 border-b-[1px] border-b-gray-300"><div class="bg-[#002d00] w-fit p-1 rounded-md drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.3)] text-[#6cb224]">{{task.taskPriorityName}}</div></td>
            <td *ngIf="task.taskPriorityId == 2 && task.taskCategoryId == cat.taskCategoryId && visible[i]" class="w-60 border-b-[1px] border-b-gray-300"><div class="bg-[#EE9322] w-fit p-1 rounded-md text-[#FFF455] drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.3)]">{{task.taskPriorityName}}</div></td>
            <td *ngIf="task.taskPriorityId == 3 && task.taskCategoryId == cat.taskCategoryId && visible[i]" class="w-60 border-b-[1px] border-b-gray-300"><div class="bg-[#a70000] w-fit p-1 rounded-md drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.3)] text-[#ff7b7b]">{{task.taskPriorityName}}</div></td>
            <td *ngIf="task.taskCategoryId == cat.taskCategoryId && visible[i]" class="w-52 border-b-[1px] border-b-gray-300">
              <img *ngFor="let member of task.assignedMembers;index as j" src="http://localhost:8000/api/Member/{{member.id}}/Avatar" class="size-8 inline-flex">
            </td>
            <td *ngIf="task.taskCategoryId == cat.taskCategoryId && visible[i]" class="w-20 border-b-[1px] border-b-gray-300">
              <button class="font-extrabold text-3xl"  mat-button [matMenuTriggerFor]="menu">...</button>
            </td>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openDialogOverview(task.taskId)">View</button>
              <button mat-menu-item class="p-2 bg-red-500 rounded-md font-semibold text-black" (click)="deleteTask(task.taskId)">Delete</button>
            </mat-menu>
          </tr>
        </tbody>

      </div>
    </div>

  </div>


  <ng-toast></ng-toast>
</div>
