<div class="flex justify-center p-8">
  <div class="p-2 basis-[95%] flex flex-col gap-4 rounded-t-xl">
    <div class="flex flex-col gap-4 select-none">
      <p class="text-accent-blue font-bold text-2xl">All Tasks</p>

      <div class="flex gap-10">
        <div class="flex">
          <mat-form-field class="w-64" subscriptSizing="dynamic">
            <mat-label>
              <div class="flex items-center justify-between gap-2">
                <p>Search Tasks</p>
                <mat-icon class="scale-125">search</mat-icon>
              </div>
            </mat-label>

            <input matInput>
          </mat-form-field>
        </div>

        <mat-form-field subscriptSizing="dynamic">
          <mat-label>Sort by</mat-label>
          <mat-select>
            <mat-option value="name">Name</mat-option>
            <mat-option value="priority">Priority</mat-option>
            <mat-option value="dueDate">Due date</mat-option>
            <mat-option value="progression">Progression</mat-option>
          </mat-select>
        </mat-form-field>

        <span class="grow"></span>

        <div class="flex gap-1">
          <button mat-raised-button color="primary" (click)="openDialog()">Add new task</button>
        </div>
      </div>

      <hr class="border-accent-blue">

      <div class="flex gap-4 text-accent-blue">
        <p class="flex items-center justify-center text-accent-blue font-bold">Show only:</p>

        <mat-radio-group [(ngModel)]="tableSel" name="radio-filter" color="primary">
          <mat-radio-button class="text-accent-blue" value="t1">All</mat-radio-button>
          <mat-radio-button class="text-accent-blue" value="t2">New</mat-radio-button>
          <mat-radio-button class="text-accent-blue" value="t3">In Progress</mat-radio-button>
          <mat-radio-button class="text-accent-blue" value="t4">Completed</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <hr class="border-accent-blue">

    <div class="flex justify-center select-none" *ngIf="tableSel == 't1'">
      <div class="table border-[1px] border-gray-300 rounded-md">
        <thead class="text-center">
          <tr class="">
            <th class="text-left w-60 p-3 border-b-[1px] border-b-gray-300">TASK GROUP</th>
            <th class="text-center w-60 border-b-[1px] border-b-gray-300">TASK</th>
            <th class="text-center w-60 border-b-[1px] border-b-gray-300">START DATE</th>
            <th class="text-center w-60 border-b-[1px] border-b-gray-300">DUE DATE</th>
            <th class="text-center w-60 border-b-[1px] border-b-gray-300">STATUS</th>
            <th class="text-center w-60 border-b-[1px] border-b-gray-300">PRIORITY</th>
            <th class="text-center w-52 border-b-[1px] border-b-gray-300">ASSIGNEES</th>
            <th class="text-center w-20 border-b-[1px] border-b-gray-300"></th>
          </tr>
        </thead>

        <tbody *ngFor="let cat of taskCategories; index as i">
          <td *ngIf="allTasks.length == 0 && i==0" class="text-left w-60 border-b-[1px] border-b-gray-300 p-3 hover:cursor-pointer" colspan="8">No tasks.</td>
          <td *ngIf="!visible[i] && allTasks.length != 0" class="text-left w-60 border-b-[1px] border-b-gray-300 p-3 hover:cursor-pointer" colspan="8" (click)="showNHide(i)"><div class="flex items-center gap-1">{{cat.taskCategoryName}} <img class="flex size-4" src="assets/icons/arrow.png"></div></td>
          <td *ngIf="visible[i] && allTasks.length != 0" class="text-left w-60 border-b-[1px] border-b-gray-300 p-3 hover:cursor-pointer" colspan="8" (click)="showNHide(i)"><div class="flex items-center gap-1">{{cat.taskCategoryName}} <img class="flex size-4 rotate-180" src="assets/icons/arrow.png"></div></td>
          <tr *ngFor="let task of allTasks" class="border-[1px] border-gray-500 hover:bg-gray-300">
            <td *ngIf="task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300"></td>
            <td *ngIf="task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300">{{task.taskName}}</td>
            <td *ngIf="task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300">{{task.startDate | date}}</td>
            <td *ngIf="task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300">{{task.deadline | date}}</td>
            <td *ngIf="task.taskStatusId == 1 && task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300 text-[#EE9322]">
              {{task.taskStatus}}
            </td>
            <td *ngIf="task.taskStatusId == 2 && task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300 text-[#0029a3]">
              {{task.taskStatus}}
            </td>
            <td *ngIf="task.taskStatusId == 3 && task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300 text-[#002d00]">
              {{task.taskStatus}}
            </td>
            <td *ngIf="task.taskPriorityId == 1 && task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300"><div class="flex justify-center"><div class="flex bg-[#002d00] w-fit p-1 rounded-md drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.3)] text-[#6cb224]">{{task.taskPriorityName}}</div></div></td>
            <td *ngIf="task.taskPriorityId == 2 && task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300"><div class="flex justify-center"><div class="flex bg-[#EE9322] w-fit p-1 rounded-md text-[#FFF455] drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.3)]">{{task.taskPriorityName}}</div></div></td>
            <td *ngIf="task.taskPriorityId == 3 && task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300"><div class="flex justify-center"><div class="flex bg-[#a70000] w-fit p-1 rounded-md drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.3)] text-[#ff7b7b]">{{task.taskPriorityName}}</div></div></td>
            <td *ngIf="task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-52 border-b-[1px] border-b-gray-300">
              <div class="justify-center" *ngIf="task.assignedMembers.length === 0"><span>No assignees.</span></div>
              <div class="flex justify-center">
                <div *ngFor="let member of task.assignedMembers;index as j" class="flex items-center">
                  <img src="http://localhost:8000/api/Member/{{member.id}}/Avatar" class="size-8 flex" style="transform: translateX({{ -j / 2 }}rem);" *ngIf="j < 2">
                  <img src="assets/icons/circle-64.png" class="size-8 flex" style="transform: translateX({{ -j / 2 }}rem);" *ngIf="j == 2"><span class="text-white" style="transform: translateX({{ -2.7 }}rem);" *ngIf="j == 2">+{{task.assignedMembers.length - j}}</span>
                </div>
              </div>
            </td>
            <td *ngIf="task.taskCategoryId == cat.taskCategoryId && visible[i]" class="w-20 border-b-[1px] border-b-gray-300">
              <button class="font-extrabold text-3xl"  mat-button [matMenuTriggerFor]="menu">...</button>
            </td>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openDialogOverview(task.taskId)">View</button>
              <button mat-menu-item class="p-2 bg-red-500 rounded-md font-semibold text-black" (click)="deleteTask(task.taskId)">Delete</button>
            </mat-menu>
          </tr>
        </tbody>

      </div>
    </div>



    <div class="flex justify-center select-none" *ngIf="tableSel == 't2'">
      <div class="table border-[1px] border-gray-300 rounded-md">
        <thead class="text-center">
        <tr class="">
          <th class="text-left w-60 p-3 border-b-[1px] border-b-gray-300">TASK GROUP</th>
          <th class="text-center w-60 border-b-[1px] border-b-gray-300">TASK</th>
          <th class="text-center w-60 border-b-[1px] border-b-gray-300">START DATE</th>
          <th class="text-center w-60 border-b-[1px] border-b-gray-300">DUE DATE</th>
          <th class="text-center w-60 border-b-[1px] border-b-gray-300">STATUS</th>
          <th class="text-center w-60 border-b-[1px] border-b-gray-300">PRIORITY</th>
          <th class="text-center w-52 border-b-[1px] border-b-gray-300">ASSIGNEES</th>
          <th class="text-center w-20 border-b-[1px] border-b-gray-300"></th>
        </tr>
        </thead>

        <tbody *ngFor="let cat of taskCategories; index as i">
        <td *ngIf="todo.length == 0 && i==0" class="text-left w-60 border-b-[1px] border-b-gray-300 p-3 hover:cursor-pointer" colspan="8">No new tasks.</td>
        <td *ngIf="!visible[i] && todo.length != 0" class="text-left w-60 border-b-[1px] border-b-gray-300 p-3 hover:cursor-pointer" colspan="8" (click)="showNHide(i)"><div class="flex items-center gap-1">{{cat.taskCategoryName}} <img class="flex size-4" src="assets/icons/arrow.png"></div></td>
        <td *ngIf="visible[i] && todo.length != 0" class="text-left w-60 border-b-[1px] border-b-gray-300 p-3 hover:cursor-pointer" colspan="8" (click)="showNHide(i)"><div class="flex items-center gap-1">{{cat.taskCategoryName}} <img class="flex size-4 rotate-180" src="assets/icons/arrow.png"></div></td>
        <tr *ngFor="let task of todo" class="border-[1px] border-gray-500 hover:bg-gray-300">
          <td *ngIf="task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300"></td>
          <td *ngIf="task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300">{{task.taskName}}</td>
          <td *ngIf="task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300">{{task.startDate | date}}</td>
          <td *ngIf="task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300">{{task.deadline | date}}</td>
          <td *ngIf="task.taskStatusId == 1 && task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300 text-[#EE9322]">
            {{task.taskStatus}}
          </td>
          <td *ngIf="task.taskStatusId == 2 && task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300 text-[#0029a3]">
            {{task.taskStatus}}
          </td>
          <td *ngIf="task.taskStatusId == 3 && task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300 text-[#002d00]">
            {{task.taskStatus}}
          </td>
          <td *ngIf="task.taskPriorityId == 1 && task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300"><div class="flex justify-center"><div class="flex bg-[#002d00] w-fit p-1 rounded-md drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.3)] text-[#6cb224]">{{task.taskPriorityName}}</div></div></td>
          <td *ngIf="task.taskPriorityId == 2 && task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300"><div class="flex justify-center"><div class="flex bg-[#EE9322] w-fit p-1 rounded-md text-[#FFF455] drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.3)]">{{task.taskPriorityName}}</div></div></td>
          <td *ngIf="task.taskPriorityId == 3 && task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300"><div class="flex justify-center"><div class="flex bg-[#a70000] w-fit p-1 rounded-md drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.3)] text-[#ff7b7b]">{{task.taskPriorityName}}</div></div></td>
          <td *ngIf="task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-52 border-b-[1px] border-b-gray-300">
            <div class="justify-center" *ngIf="task.assignedMembers.length === 0"><span>No assignees.</span></div>
            <div class="flex justify-center">
              <div *ngFor="let member of task.assignedMembers;index as j" class="flex items-center justify-center">
                <img src="http://localhost:8000/api/Member/{{member.id}}/Avatar" class="size-8 flex" style="transform: translateX({{ -j / 2 }}rem);" *ngIf="j < 2">
                <img src="assets/icons/circle-64.png" class="size-8 flex" style="transform: translateX({{ -j / 2 }}rem);" *ngIf="j == 2"><span class="text-white" style="transform: translateX({{ -2.7 }}rem);" *ngIf="j == 2">+{{task.assignedMembers.length - j}}</span>
              </div>
            </div>
          </td>
          <td *ngIf="task.taskCategoryId == cat.taskCategoryId && visible[i]" class="w-20 border-b-[1px] border-b-gray-300">
            <button class="font-extrabold text-3xl"  mat-button [matMenuTriggerFor]="menu">...</button>
          </td>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openDialogOverview(task.taskId)">View</button>
            <button mat-menu-item class="p-2 bg-red-500 rounded-md font-semibold text-black" (click)="deleteTask(task.taskId)">Delete</button>
          </mat-menu>
        </tr>
        </tbody>

      </div>
    </div>

    <div class="flex justify-center select-none" *ngIf="tableSel == 't3'">
      <div class="table border-[1px] border-gray-300 rounded-md">
        <thead class="text-center">
        <tr class="">
          <th class="text-left w-60 p-3 border-b-[1px] border-b-gray-300">TASK GROUP</th>
          <th class="text-center w-60 border-b-[1px] border-b-gray-300">TASK</th>
          <th class="text-center w-60 border-b-[1px] border-b-gray-300">START DATE</th>
          <th class="text-center w-60 border-b-[1px] border-b-gray-300">DUE DATE</th>
          <th class="text-center w-60 border-b-[1px] border-b-gray-300">STATUS</th>
          <th class="text-center w-60 border-b-[1px] border-b-gray-300">PRIORITY</th>
          <th class="text-center w-52 border-b-[1px] border-b-gray-300">ASSIGNEES</th>
          <th class="text-center w-20 border-b-[1px] border-b-gray-300"></th>
        </tr>
        </thead>

        <tbody *ngFor="let cat of taskCategories; index as i">
        <td *ngIf="progress.length == 0 && i==0" class="text-left w-60 border-b-[1px] border-b-gray-300 p-3 hover:cursor-pointer" colspan="8">No in progress tasks.</td>
        <td *ngIf="!visible[i] && progress.length != 0" class="text-left w-60 border-b-[1px] border-b-gray-300 p-3 hover:cursor-pointer" colspan="8" (click)="showNHide(i)"><div class="flex items-center gap-1">{{cat.taskCategoryName}} <img class="flex size-4" src="assets/icons/arrow.png"></div></td>
        <td *ngIf="visible[i] && progress.length != 0" class="text-left w-60 border-b-[1px] border-b-gray-300 p-3 hover:cursor-pointer" colspan="8" (click)="showNHide(i)"><div class="flex items-center gap-1">{{cat.taskCategoryName}} <img class="flex size-4 rotate-180" src="assets/icons/arrow.png"></div></td>
        <tr *ngFor="let task of progress" class="border-[1px] border-gray-500 hover:bg-gray-300">
          <td *ngIf="task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300"></td>
          <td *ngIf="task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300">{{task.taskName}}</td>
          <td *ngIf="task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300">{{task.startDate | date}}</td>
          <td *ngIf="task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300">{{task.deadline | date}}</td>
          <td *ngIf="task.taskStatusId == 1 && task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300 text-[#EE9322]">
            {{task.taskStatus}}
          </td>
          <td *ngIf="task.taskStatusId == 2 && task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300 text-[#0029a3]">
            {{task.taskStatus}}
          </td>
          <td *ngIf="task.taskStatusId == 3 && task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300 text-[#002d00]">
            {{task.taskStatus}}
          </td>
          <td *ngIf="task.taskPriorityId == 1 && task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300"><div class="flex justify-center"><div class="flex bg-[#002d00] w-fit p-1 rounded-md drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.3)] text-[#6cb224]">{{task.taskPriorityName}}</div></div></td>
          <td *ngIf="task.taskPriorityId == 2 && task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300"><div class="flex justify-center"><div class="flex bg-[#EE9322] w-fit p-1 rounded-md text-[#FFF455] drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.3)]">{{task.taskPriorityName}}</div></div></td>
          <td *ngIf="task.taskPriorityId == 3 && task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300"><div class="flex justify-center"><div class="flex bg-[#a70000] w-fit p-1 rounded-md drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.3)] text-[#ff7b7b]">{{task.taskPriorityName}}</div></div></td>
          <td *ngIf="task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-52 border-b-[1px] border-b-gray-300">
            <div class="justify-center justify-center" *ngIf="task.assignedMembers.length === 0"><span>No assignees.</span></div>
            <div class="flex">
              <div *ngFor="let member of task.assignedMembers;index as j" class="flex items-center justify-center">
                <img src="http://localhost:8000/api/Member/{{member.id}}/Avatar" class="size-8 flex" style="transform: translateX({{ -j / 2 }}rem);" *ngIf="j < 2">
                <img src="assets/icons/circle-64.png" class="size-8 flex" style="transform: translateX({{ -j / 2 }}rem);" *ngIf="j == 2"><span class="text-white" style="transform: translateX({{ -2.7 }}rem);" *ngIf="j == 2">+{{task.assignedMembers.length - j}}</span>
              </div>
            </div>
          </td>
          <td *ngIf="task.taskCategoryId == cat.taskCategoryId && visible[i]" class="w-20 border-b-[1px] border-b-gray-300">
            <button class="font-extrabold text-3xl"  mat-button [matMenuTriggerFor]="menu">...</button>
          </td>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openDialogOverview(task.taskId)">View</button>
            <button mat-menu-item class="p-2 bg-red-500 rounded-md font-semibold text-black" (click)="deleteTask(task.taskId)">Delete</button>
          </mat-menu>
        </tr>
        </tbody>

      </div>
    </div>


    <div class="flex justify-center select-none" *ngIf="tableSel == 't4'">
      <div class="table border-[1px] border-gray-300 rounded-md">
        <thead class="text-center">
        <tr class="">
          <th class="text-left w-60 p-3 border-b-[1px] border-b-gray-300">TASK GROUP</th>
          <th class="text-center w-60 border-b-[1px] border-b-gray-300">TASK</th>
          <th class="text-center w-60 border-b-[1px] border-b-gray-300">START DATE</th>
          <th class="text-center w-60 border-b-[1px] border-b-gray-300">DUE DATE</th>
          <th class="text-center w-60 border-b-[1px] border-b-gray-300">STATUS</th>
          <th class="text-center w-60 border-b-[1px] border-b-gray-300">PRIORITY</th>
          <th class="text-center w-52 border-b-[1px] border-b-gray-300">ASSIGNEES</th>
          <th class="text-center w-20 border-b-[1px] border-b-gray-300"></th>
        </tr>
        </thead>

        <tbody *ngFor="let cat of taskCategories; index as i">
        <td *ngIf="done.length == 0 && i==0" class="text-left w-60 border-b-[1px] border-b-gray-300 p-3 hover:cursor-pointer" colspan="8">No finished tasks.</td>
        <td *ngIf="!visible[i] && done.length != 0" class="text-left w-60 border-b-[1px] border-b-gray-300 p-3 hover:cursor-pointer" colspan="8" (click)="showNHide(i)"><div class="flex items-center gap-1">{{cat.taskCategoryName}} <img class="flex size-4" src="assets/icons/arrow.png"></div></td>
        <td *ngIf="visible[i] && done.length != 0" class="text-left w-60 border-b-[1px] border-b-gray-300 p-3 hover:cursor-pointer" colspan="8" (click)="showNHide(i)"><div class="flex items-center gap-1">{{cat.taskCategoryName}} <img class="flex size-4 rotate-180" src="assets/icons/arrow.png"></div></td>
        <tr *ngFor="let task of done" class="border-[1px] border-gray-500 hover:bg-gray-300">
          <td *ngIf="task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300"></td>
          <td *ngIf="task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300">{{task.taskName}}</td>
          <td *ngIf="task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300">{{task.startDate | date}}</td>
          <td *ngIf="task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300">{{task.deadline | date}}</td>
          <td *ngIf="task.taskStatusId == 1 && task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300 text-[#EE9322]">
            {{task.taskStatus}}
          </td>
          <td *ngIf="task.taskStatusId == 2 && task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300 text-[#0029a3]">
            {{task.taskStatus}}
          </td>
          <td *ngIf="task.taskStatusId == 3 && task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300 text-[#002d00]">
            {{task.taskStatus}}
          </td>
          <td *ngIf="task.taskPriorityId == 1 && task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300"><div class="flex justify-center"><div class="flex bg-[#002d00] w-fit p-1 rounded-md drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.3)] text-[#6cb224]">{{task.taskPriorityName}}</div></div></td>
          <td *ngIf="task.taskPriorityId == 2 && task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300"><div class="flex justify-center"><div class="flex bg-[#EE9322] w-fit p-1 rounded-md text-[#FFF455] drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.3)]">{{task.taskPriorityName}}</div></div></td>
          <td *ngIf="task.taskPriorityId == 3 && task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-60 border-b-[1px] border-b-gray-300"><div class="flex justify-center"><div class="flex bg-[#a70000] w-fit p-1 rounded-md drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.3)] text-[#ff7b7b]">{{task.taskPriorityName}}</div></div></td>
          <td *ngIf="task.taskCategoryId == cat.taskCategoryId && visible[i]" class="text-center w-52 border-b-[1px] border-b-gray-300">
            <div class="justify-center" *ngIf="task.assignedMembers.length === 0"><span>No assignees.</span></div>
            <div class="flex justify-center">
              <div *ngFor="let member of task.assignedMembers;index as j" class="flex items-center justify-center">
                <img src="http://localhost:8000/api/Member/{{member.id}}/Avatar" class="size-8 flex" style="transform: translateX({{ -j / 2 }}rem);" *ngIf="j < 2">
                <img src="assets/icons/circle-64.png" class="size-8 flex" style="transform: translateX({{ -j / 2 }}rem);" *ngIf="j == 2"><span class="text-white" style="transform: translateX({{ -2.7 }}rem);" *ngIf="j == 2">+{{task.assignedMembers.length - j}}</span>
              </div>
            </div>
          </td>
          <td *ngIf="task.taskCategoryId == cat.taskCategoryId && visible[i]" class="w-20 border-b-[1px] border-b-gray-300">
            <button class="font-extrabold text-3xl"  mat-button [matMenuTriggerFor]="menu">...</button>
          </td>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openDialogOverview(task.taskId)">View</button>
            <button mat-menu-item class="p-2 bg-red-500 rounded-md font-semibold text-black" (click)="deleteTask(task.taskId)">Delete</button>
          </mat-menu>
        </tr>
        </tbody>

      </div>
    </div>


  </div>


  <ng-toast></ng-toast>
</div>
