<div class="h-[calc(100vh-64px)] flex flex-col select-none">
  <mat-sidenav-container class="grow mat-elevation-z6">
    <mat-sidenav mode="side" opened="true">
      <div class="flex items-center justify-center p-4 border-b-[1px]">
        <p class="text-4xl font-bold">Project {{projectId}}</p>
      </div>
      <mat-nav-list>
        <mat-list-item *ngFor="let button of buttons; let last = last" [routerLink]="button.link">
          <div class="flex items-center gap-2 text-2xl">
            <mat-icon class="scale-125">{{ button.icon }}</mat-icon>
            <p>{{button.text}}</p>
          </div>

          <mat-divider *ngIf="!last"></mat-divider>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
