.login-container {
  min-height: 100vh;
  height: auto;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  .login-item {
    flex-basis: 50%;
    flex-grow: 0;
  }

  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(169,237,246) radial-gradient(circle, rgba(169,237,246,1) 50%, rgba(109,175,184,1) 100%);
  }

  .form-container {
  }
}
