<div class="login-container">
  <div class="login-item image-container">
    <img ngSrc="/assets/logo.png" alt="Logic Tenacity Logo" height="394" width="633">
  </div>

  <div class="login-item">
    <h1>Welcome, please sign in</h1>

    <div class="form-container">
      <form>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
      </form>

      <button type="button">Sign in</button>
    </div>
  </div>
</div>
