<div id="default-modal" tabindex="-1" aria-hidden="true" class="flex overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex flex-col items-start justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h1 class="text-2xl text-gray-900 dark:text-white">
                    Task: {{data.activities.taskName}}
                </h1>
                <h2 class="text-xl">
                    In project: {{data.activities.projectName}}
                </h2>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4">
                <div>
                    <h2 class="text-lg">Description:</h2>
                    <textarea cols="30" rows="3" class="w-full resize-none">{{data.activities.description}}</textarea>
                </div>
                <div>
                    <h2 class="text-lg">Activity:</h2>
                    <textarea cols="30" rows="2" class="resize-none w-full" placeholder="Write your comment..."></textarea>
                    <button type="button" class="flex items-center justify-center w-48 text-white bg-[#0E2954] font-medium rounded-md text-sm px-5 py-2.5 xl:hover:bg-[#0B2043]">Save comment</button>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button data-modal-hide="default-modal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" (click)="closeDialog()">Close</button>
            </div>
        </div>
    </div>
</div>