<div class="h-full flex flex-col select-none">
  <mat-toolbar>
      <div class="flex w-full gap-2 items-center justify-between min-h-16">
        <div class="flex flex-col items-start justify-between">
          <h1 class="text-3xl text-gray-900">
            {{task.taskName}}
          </h1>
          <h2 class="text-lg flex text-gray-900">
            in <p [routerLink]="['/projects', task.projectId]" (click)="closeDialog()" class="underline flex ml-2 cursor-pointer">{{task.projectName}}</p>
          </h2>
        </div>
        <button mat-button type="button" class="flex justify-center items-center" (click)="closeDialog()">
          <div class="flex items-center justify-center">
            <mat-icon>close</mat-icon>
          </div>
        </button>
      </div>
  </mat-toolbar>

  <mat-tab-group>
    <mat-tab label="Overview">
        <div class="flex flex-row gap-2">
          <div class="w-[65%] p-2">
            <mat-card>
              <mat-card-title>
                <div class="p-2">
                  Task activities
                </div>
              </mat-card-title>
              <mat-card-content>
                <div class="flex flex-row gap-2">
                  <div class="flex w-[70%]">
                    <form class="flex flex-col gap-2 w-[100%]" [formGroup]="taskActivityGroup">
                      <mat-form-field>
                        <mat-label>Task completion</mat-label>
                        <input matInput placeholder="50%" value="" formControlName="percentageComplete" required>
                        <mat-error *ngIf="taskActivityGroup.get('percentageComplete')?.hasError('required')">
                          Percentage is required
                        </mat-error>
                        <mat-error *ngIf="taskActivityGroup.get('percentageComplete')?.hasError('min')">
                          Minimum value is 0
                        </mat-error>
                        <mat-error *ngIf="taskActivityGroup.get('percentageComplete')?.hasError('max')">
                          Maximum value is 100
                        </mat-error>
                        <mat-error *ngIf="taskActivityGroup.get('percentageComplete')?.hasError('pattern')">
                          Value must be number
                        </mat-error>
                      </mat-form-field>

                      <mat-form-field>
                        <mat-label>Enter new task activity</mat-label>
                        <textarea matInput placeholder="I made some changes..." formControlName="description" required></textarea>
                        <mat-error *ngIf="taskActivityGroup.get('description')?.hasError('required')">
                          Description is required
                        </mat-error>
                      </mat-form-field>
                    </form>
                  </div>

                  <div class="flex w-[30%] h-min flex-col gap-2">
                    <form class="w-[30%]" [formGroup]="taskActivityGroup">
                      <mat-form-field>
                        <mat-label>Activity type</mat-label>
                        <mat-select formControlName="taskActivityTypeId" required>
                          @for (type of allTypes; track type) {
                            <mat-option [value]="type.taskActivityTypeId">{{type.taskActivityTypeName}}</mat-option>
                          }
                        </mat-select>
                        <mat-error *ngIf="taskActivityGroup.get('taskActivityTypeId')?.hasError('required')">
                          Status is required
                        </mat-error>
                      </mat-form-field>
                    </form>
                    <button mat-raised-button color="primary" (click)="saveActivity()" [disabled]="!(task.projectId | hasProjectPermission:ProjectPermission.ADD_TASK_ACTIVITY)">Save activity</button>
                  </div>
                </div>



                <div class="mt-2">
                  <mat-card>
                    <mat-card-title>
                      <div class="p-2">
                        Task activities
                      </div>
                    </mat-card-title>

                    <mat-card-content>
                      <div class="">
                        <div class="mt-2 flex flex-col border-t-[1px] border-t-gray-400 h-[400px] overflow-y-scroll">
                          <div class="flex w-full rounded-md items-center px-1 mt-2 " *ngIf="activities.length === 0">
                            <p>No task comments yet.</p>
                          </div>
                          <div *ngFor="let taskAct of activities" class="w-[100%] h-min p-2">
                            <div class="flex flex-row gap-1 justify-start items-end">
                              <img src="{{environment.apiUrl}}/Member/{{taskAct.workerId}}/Avatar" class="flex rounded-full size-8">
                              <div class="w-[90%]">
                                <mat-card>
                                  <div class="p-2">
                                    <div class="underline">
                                      {{taskAct.memberName}}
                                    </div>
                                    <div>
                                      {{taskAct.comment}}
                                    </div>
                                  </div>

                                  <mat-card-footer>
                                      <div class="py-2 flex text-sm justify-between">
                                        <div class="flex">
                                          <p class="font-semibold text-sm">Type: {{taskAct.taskActivityName}}; Completed: {{taskAct.percentageComplete}}%</p>
                                        </div>
                                        <div class="flex">
                                          <p *ngIf="taskAct.differenceM < 60 && taskAct.differenceH < 1" class="text-sm">{{taskAct.differenceM}} minutes ago.</p>
                                          <p *ngIf="taskAct.differenceH < 24 && taskAct.differenceM >= 60" class="text-sm">{{taskAct.differenceH}} hours ago.</p>
                                          <p *ngIf="taskAct.differenceH >= 24" class="text-sm">{{taskAct.dateModify| date}}</p>
                                        </div>
                                      </div>
                                  </mat-card-footer>
                                </mat-card>
                              </div>
                              <div class="w-[10%]">
                                <button mat-button type="button" class="flex justify-center items-center" (click)="closeDialog()">
                                  <div class="flex items-center justify-center">
                                    <mat-icon>delete_forever</mat-icon>
                                  </div>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </mat-card-content>
                  </mat-card>
                </div>



              </mat-card-content>
            </mat-card>





















































































            <div class="mt-2">
              <mat-card>
                <mat-card-title>
                  <div class="p-2">
                    Task comments
                  </div>
                </mat-card-title>

                <mat-card-content>
                  <div class="">
                    <div class="mt-2 flex flex-col border-t-[1px] border-t-gray-400 h-[400px] overflow-y-scroll" #scrollableDiv>
                      <div class="flex w-full rounded-md items-center px-1 mt-2 " *ngIf="taskComments.length === 0">
                        <p>No task comments yet.</p>
                      </div>
                      <div *ngFor="let taskComm of taskComments" class="w-[100%] h-min p-2">
                        <div class="flex flex-row gap-1 justify-end items-end" *ngIf="taskComm.writerId == loggedUserId">
                          <div class="max-w-[50%]">
                            <mat-card>
                              <div class="p-2">
                                <div>
                                  {{taskComm.text}}
                                </div>
                              </div>

                              <mat-card-footer>
                                <div class="pr-2 flex items-end text-sm justify-end">
                                  {{taskComm.createdAt | date:'shortTime'}}
                                </div>
                              </mat-card-footer>
                            </mat-card>
                          </div>
                        </div>

                        <div class="flex flex-row gap-1 justify-start items-end" *ngIf="taskComm.writerId != loggedUserId">
                          <img src="{{environment.apiUrl}}/Member/{{taskComm.writerId}}/Avatar" class="flex rounded-full size-8">
                          <div class="max-w-[50%]">
                            <mat-card>
                                <div class="p-2">
                                    <div class="underline">
                                      {{taskComm.writerFirstName}} {{taskComm.writerLastName}}
                                    </div>
                                  <div>
                                    {{taskComm.text}}
                                  </div>
                                </div>

                              <mat-card-footer>
                                <div class="pr-2 flex items-end text-sm justify-end">
                                  {{taskComm.createdAt | date:'shortTime'}}
                                </div>
                              </mat-card-footer>
                            </mat-card>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="w-full mt-2">
                    <form [formGroup]="taskActivityComment" class="w-full">
                      <div class="w-full">
                        <mat-form-field class="w-full">
                            <mat-label>Enter task comment</mat-label>
                            <textarea matInput placeholder="Hello..." formControlName="text" class="w-full" required></textarea>
                            <mat-error *ngIf="taskActivityComment.get('text')?.hasError('required')">
                              Text is required
                            </mat-error>
                        </mat-form-field>
                      </div>
                    </form>
                    <button mat-raised-button color="primary" (click)="saveComment()" [disabled]="!(task.projectId | hasProjectPermission:ProjectPermission.COMMENT_TASK)">Save comment</button>
                  </div>

                </mat-card-content>
              </mat-card>
            </div>


          </div>



          <div class="flex flex-col gap-5 p-2 w-[35%]">
            <mat-card>
              <div>
                <mat-card>
                  <mat-card-title class="pl-2"><h1>Task name</h1></mat-card-title>
                  <mat-card-content>
                    <div class="flex flex-row w-full">
                      <form class="flex w-full" [formGroup]="taskNameForm">
                        <mat-form-field class="w-full">
                          <input matInput placeholder="Task name 1" formControlName="taskName" [disabled]="!(task.projectId | hasProjectPermission:ProjectPermission.CHANGE_TASK)">
                        </mat-form-field>
                      </form>

                      <div>
                        <button mat-button type="button" class="flex justify-center items-center" (click)="editTaskname()" [disabled]="!(task.projectId | hasProjectPermission:ProjectPermission.CHANGE_TASK)">
                          <div class="flex items-center justify-center">
                            <mat-icon>done</mat-icon>
                          </div>
                        </button>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>

              <div>
                <mat-card>
                  <mat-card-title class="pl-2"><h1>Task description</h1></mat-card-title>
                  <mat-card-content>
                    <div class="flex flex-row w-full">
                      <form class="flex w-full" [formGroup]="taskDescriptionForm">
                        <mat-form-field class="w-full">
                          <textarea matInput placeholder="Task description" formControlName="taskDescription" [disabled]="!(task.projectId | hasProjectPermission:ProjectPermission.CHANGE_TASK)"></textarea>
                        </mat-form-field>
                      </form>

                      <div>
                        <button mat-button type="button" class="flex justify-center items-center" [disabled]="!(task.projectId | hasProjectPermission:ProjectPermission.CHANGE_TASK)" (click)="editTaskdescription()">
                          <div class="flex items-center justify-center">
                            <mat-icon>done</mat-icon>
                          </div>
                        </button>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>


              <div>
                <mat-card>
                  <mat-card-title class="pl-2"><h1>Start date</h1></mat-card-title>
                  <mat-card-content>
                      <mat-form-field class="w-full">
                        <input matInput [matDatepicker]="picker1" [min]="today" disabled value="{{task.startDate}}">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                        <mat-hint>MM/DD/YYYY</mat-hint>
                      </mat-form-field>
                  </mat-card-content>
                </mat-card>
              </div>


              <div>
                <mat-card>
                  <mat-card-title class="pl-2"><h1>Deadline</h1></mat-card-title>
                  <mat-card-content>
                    <div class="flex flex-row w-full">
                      <form class="flex w-full" [formGroup]="taskDeadlineForm">
                        <mat-form-field class="w-full">
                          <input matInput [matDatepicker]="picker2" [min]="today" formControlName="deadline" [disabled]="!(task.projectId | hasProjectPermission:ProjectPermission.CHANGE_TASK)">
                          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                          <mat-datepicker #picker2></mat-datepicker>
                          <mat-hint>MM/DD/YYYY</mat-hint>
                        </mat-form-field>
                      </form>

                      <div>
                        <button mat-button type="button" class="flex justify-center items-center" (click)="editTaskdeadline()" [disabled]="!(task.projectId | hasProjectPermission:ProjectPermission.CHANGE_TASK)">
                          <div class="flex items-center justify-center">
                            <mat-icon>done</mat-icon>
                          </div>
                        </button>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>


              <div>
                <mat-card>
                  <mat-card-title class="pl-2"><h1>Task status</h1></mat-card-title>
                  <mat-card-content>
                    <div class="flex flex-row w-full">
                      <form class="flex w-full" [formGroup]="taskStatusForm">
                        <mat-form-field class="w-full">
                          <mat-select formControlName="statusId" [disabled]="!(task.projectId | hasProjectPermission:ProjectPermission.CHANGE_TASK_STATUS)">
                            <mat-option *ngFor="let tS of taskStatuses" [value]="tS.id" >{{tS.name}}</mat-option>
                          </mat-select>
                          <mat-error *ngIf="taskStatusForm.controls['statusId'].hasError('required')">
                            Field is required
                          </mat-error>
                        </mat-form-field>
                      </form>

                      <div>
                        <button mat-button type="button" class="flex justify-center items-center" (click)="editTaskstatus()" [disabled]="!(task.projectId | hasProjectPermission:ProjectPermission.CHANGE_TASK_STATUS)">
                          <div class="flex items-center justify-center">
                            <mat-icon>done</mat-icon>
                          </div>
                        </button>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>

              <div>
                <mat-card>
                  <mat-card-title class="pl-2"><h1>Task priority</h1></mat-card-title>
                  <mat-card-content>
                    <div class="flex flex-row w-full">
                      <form class="flex w-full" [formGroup]="taskPriorityForm">
                        <mat-form-field class="w-full">
                          <mat-select formControlName="priorityId" [disabled]="!(task.projectId | hasProjectPermission:ProjectPermission.CHANGE_TASK_PRIORITY)">
                            <mat-option [value]="tP.taskPriorityId" *ngFor="let tP of taskPriorities"><span class="text-[{{tP.color}}]">{{tP.name}}</span></mat-option>
                          </mat-select>
                          <mat-error *ngIf="taskPriorityForm.controls['priorityId'].hasError('required')">
                            Field is required
                          </mat-error>
                        </mat-form-field>
                      </form>

                      <div>
                        <button mat-button type="button" class="flex justify-center items-center" (click)="editTaskpriority()" [disabled]="!(task.projectId | hasProjectPermission:ProjectPermission.CHANGE_TASK_PRIORITY)">
                          <div class="flex items-center justify-center">
                            <mat-icon>done</mat-icon>
                          </div>
                        </button>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>



















            </mat-card>
          </div>
        </div>
    </mat-tab>

    <mat-tab label="Assignees">

    </mat-tab>

    <mat-tab label="Dependencies">

    </mat-tab>
  </mat-tab-group>
</div>
