<mat-tab-group>
  <mat-tab label="Profile Settings">
    <div class="flex p-2 gap-2">
      <mat-card class="basis-1/4">
        <div class="flex flex-col items-center justify-center">
          <p class="text-2xl">Your Profile</p>
          <img [src]="avatarUrl" alt="Profile Picture" width="128" height="128"/>
        </div>
      </mat-card>

      <mat-card class="grow">
        <div>
          Settings section
        </div>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Account Settings">

  </mat-tab>
</mat-tab-group>

<!--<div class="w-8/12 m-auto" [formGroup]="memberForm">-->
<!--  <div>-->
<!--    <div class="flex flex-col w-full xl:flex-row p-2 justify-between">-->
<!--        <div class="flex flex-col my-2">-->
<!--            <h1 class="text-xl font-bold">Public avatar</h1>-->
<!--            <p>You can change or remove your avatar here.</p>-->
<!--        </div>-->

<!--        <img [src]="avatarUrl" class="flex rounded-full border-solid border-black border-2  size-40 my-2 select-none">-->

<!--        <div class="flex flex-col my-2 justify-between">-->
<!--          <h2 class="text-lg font-bold">Upload new avatar</h2>-->
<!--          <input (change)="onFileSelected($event)" type="file" class="flex w-auto h-auto file:rounded-md file:border file:bg-gray text-sm"/>-->
<!--          &lt;!&ndash;-->
<!--          <button (click)="openAvatarDialog()" type="button" class="flex items-center justify-center w-48 text-white bg-[#0E2954] font-medium rounded-md focus:ring-4 text-sm px-5 py-2.5 me-2 mb-2 xl:hover:bg-[#0B2043]">Upload new avatar</button>-->
<!--          &ndash;&gt;-->
<!--          <hr class="border-1 border-black w-80">-->
<!--          <button type="button" class="flex w-48 text-white bg-red-700 xl:hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-md text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 mt-2" (click)="deleteAvatar()">Remove current avatar</button>-->
<!--        </div>-->
<!--    </div>-->

<!--    <hr class="border-1 border-black w-80 ml-2 xl:w-full">-->

<!--    <div class="flex flex-col w-full xl:flex-row p-2 justify-between">-->
<!--        <div class="mb-2.5">-->
<!--            <h1 class="font-bold text-xl">Current status</h1>-->
<!--            <p class="flex">This status will appear on your profile.</p>-->
<!--        </div>-->

<!--        <div>-->
<!--            <label for="status" class="block mb-2 text-sm font-bold text-gray-900 dark:text-black">Your status</label>-->
<!--            <input formControlName="status" type="text" id="status" class="flex mb-2  border border-gray-300  text-sm rounded-md p-2.5  placeholder:text-gray-400" placeholder="Your status..."/>-->
<!--            <p class="text-sm">Status will show on your profile overview.</p>-->
<!--        </div>-->

<!--        <div class="w-40"></div>-->
<!--    </div>-->

<!--    <hr class="border-1 border-black w-80 ml-2 xl:w-full">-->

<!--    <div class="flex flex-col w-full xl:flex-row p-2 justify-between">-->
<!--        <div class="mb-2.5">-->
<!--            <h1 class="text-xl font-bold">Main settings</h1>-->
<!--            <p class="flex">This information will show on your profile.</p>-->
<!--        </div>-->

<!--        <div class="mb-2.5">-->
<!--            <label for="first-name" class="block mb-2 text-sm font-bold text-gray-900 dark:text-black">* First Name</label>-->
<!--            <p *ngIf="memberForm.get('firstName').errors?.['required']" class="italic text-sm text-red-600">First Name is required.</p>-->
<!--            <p *ngIf="memberForm.get('firstName').errors?.['minLength']" class="italic text-sm text-red-600">First Name must be at least 2 characters.</p>-->
<!--            <input formControlName="firstName" type="text" id="first-name" class="flex mb-2 border border-gray-300  text-sm rounded-md p-2.5 placeholder:text-gray-400" placeholder="First name..."/>-->
<!--            <label for="last-name" class="block mb-2 text-sm font-bold text-gray-900 dark:text-black">* Last Name</label>-->
<!--            <p *ngIf="memberForm.get('lastName').errors?.['required']" class="italic text-sm text-red-600">Last Name is required.</p>-->
<!--            <p *ngIf="memberForm.get('lastName').errors?.['minLength']" class="italic text-sm text-red-600">Last Name must be at least 2 characters.</p>-->
<!--            <input formControlName="lastName" type="text" id="last-name" class="flex mb-2 border border-gray-300  text-sm rounded-md p-2.5 placeholder:text-gray-400" placeholder="Last name..."/>-->
<!--            <div class="flex text-sm">-->
<!--                <p>Enter your name so people can recognize you.</p>-->
<!--            </div>-->
<!--        </div>-->

<!--      <div>-->
<!--        <div class="w-40">-->
<!--            <label for="user-id" class="block mb-2 text-sm text-gray-900 dark:text-black font-bold">User ID</label>-->
<!--            <input type="text" id="user-id" aria-label="disabled input 2" class="cursor-not-allowed flex mb-2 border border-gray-300 text-sm rounded-md p-2.5  text-gray-400 w-20" [value]="member?.id" disabled readonly>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="flex flex-col p-2 xl:items-center w-full overflow-visible">-->
<!--        <div class="w-[155px] overflow-visible">-->
<!--            <label for="email" class="block mb-2 text-sm text-gray-900 dark:text-black font-bold">Email</label>-->
<!--            <input type="text" id="email" aria-label="disabled input 2" class="flex mb-2 border border-gray-300 text-sm rounded-md p-2.5 text-gray-400 w-50" [value]="member?.email"  disabled>-->
<!--            <div class="overflow-visible w-96">-->
<!--                <p class="flex text-sm mb-2 w-96">Your email was automatically set by your administrator.</p>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="w-[155px] overflow-visible">-->
<!--          <label for="role" class="block mb-2 text-sm text-gray-900 dark:text-black font-bold">Role</label>-->
<!--          <input type="text" id="role" aria-label="disabled input 2" class="flex mb-2 border border-gray-300 text-sm rounded-md p-2.5 text-gray-400 w-50" [value]="member?.roleName"  disabled>-->
<!--          <div class="overflow-visible w-96">-->
<!--            <p class="flex text-sm mb-2 w-96">Your role is set by your administrator.</p>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="mb-2 w-[155px]">-->
<!--          <label for="date-of-birth" class="block mb-2 text-sm text-gray-900 dark:text-black font-bold">Date of Birth</label>-->
<!--          <p *ngIf="memberForm.get('dateOfBirth').errors?.['maxDate']" class="italic text-sm text-red-600">Date of birth can not be in the future.</p>-->
<!--          <input formControlName="dateOfBirth" type="date" id="date-of-birth" aria-label="disabled input 2" class="flex mb-2 border border-gray-300 text-sm rounded-md p-2.5 w-50" placeholder="dd/MM/yyyy" [max]="todayDate()">-->
<!--        </div>-->

<!--        <div class="mb-2 w-[155px]">-->
<!--          <label for="country" class="block mb-2 text-sm text-gray-900 dark:text-black font-bold">Country</label>-->
<!--          <input formControlName="country" type="text" id="country" aria-label="disabled input 2" class="flex mb-2 border border-gray-300 text-sm rounded-md p-2.5 w-50" placeholder="Country...">-->
<!--        </div>-->

<!--        <div class="mb-2 w-[155px]">-->
<!--          <label for="city" class="block mb-2 text-sm text-gray-900 dark:text-black font-bold">City</label>-->
<!--          <input formControlName="city"  type="text" id="city" aria-label="disabled input 2" class="flex mb-2 border border-gray-300 text-sm rounded-md p-2.5 w-50" placeholder="City...">-->
<!--        </div>-->

<!--        <div class="mb-2 w-[155px]">-->
<!--            <label for="phone-number" class="block mb-2 text-sm text-gray-900 dark:text-black font-bold">Phone Number</label>-->
<!--            <input formControlName="phoneNumber" type="tel" pattern="^[0-9]{3}-[0-9]{3}-[0-9]{4}$" id="phone-number" aria-label="disabled input 2" class="flex mb-2 border border-gray-300 text-sm rounded-md p-2.5 w-50" placeholder="061-123-4567...">-->
<!--          <p *ngIf="memberForm.get('phoneNumber').errors?.['pattern']" class="italic text-sm text-red-600">Bad phone format.</p>-->
<!--        </div>-->

<!--        <div class="mb-2 w-[155px]">-->
<!--          <label for="github" class="block mb-2 text-sm text-gray-900 dark:text-black font-bold">Github</label>-->
<!--          <input formControlName="github" type="text" id="github" aria-label="disabled input 2" class="flex mb-2 border border-gray-300 text-sm rounded-md p-2.5 w-50" placeholder="Github link...">-->
<!--        </div>-->

<!--        <div class="mb-2 w-[155px]">-->
<!--            <label for="linkedin" class="block mb-2 text-sm text-gray-900 dark:text-black font-bold">Linkedin</label>-->
<!--            <input formControlName="linkedin" type="text" id="linkedin" aria-label="disabled input 2" class="flex mb-2 border border-gray-300 text-sm rounded-md p-2.5 w-50" placeholder="Linkedin link...">-->
<!--        </div>-->
<!--    </div>-->

<!--    <hr class="border-1 border-black w-80 ml-2 xl:w-full">-->
<!--  </div>-->

<!--  <div class="flex flex-col justify-between mt-4 xl:flex-row-reverse p-2">-->
<!--    <button type="button" class="flex items-center justify-center w-48 text-white bg-[#0E2954] font-medium rounded-md focus:ring-4 text-sm px-5 py-2.5 me-2 mb-2 xl:hover:bg-[#0B2043]" (click)="saveChanges()">Update profile settings</button>-->
<!--    <button type="button" class="flex items-center justify-center w-48 text-white bg-red-700   font-medium rounded-md focus:ring-4 text-sm px-5 py-2.5 me-2 mb-2 xl:hover:bg-red-800" routerLink="/members/all">Cancel</button>-->
<!--  </div>-->

<!--  <ng-toast></ng-toast>-->
<!--</div>-->
