<div *ngIf="this.visible" class="flex absolute gap-2 right-[3px] top-[50px] w-60 bg-accent-blue p-2 flex-col justify-evenly
                                  rounded-md text-white select-none">
  <p class="pl-2 font-bold">Pera Peric</p>
  <p class="pl-2">Project Manager</p>
  <hr class="white">
  <button class="flex h-10 pl-2 items-center text-white rounded-md xl:bg-transparent hover:bg-black" routerLink="/members/1">Profile</button>
  <button class="flex h-10 pl-2 items-center text-white rounded-md xl:bg-transparent hover:bg-black" routerLink="/members/edit/1">Edit profile</button>
  <button class="flex h-10 grow pl-2 items-center text-white rounded-md xl:bg-transparent hover:bg-black" (click)="logout()">Log out</button>
</div>
