<div class="bg-white p-5 border-2 border-black rounded-lg">
    <div class="flex flex-row gap-4 justify-between pb-5">
        <h1 class="text-3xl">Add member</h1>
        <button type="button" (click)="closeDialog()" class="px-5 bg-[#0E2954] text-white rounded-2xl min-h-10 font-bold hover">Close</button>
    </div>
    <div>
        <ul style="list-style-type: none;">
            <li>
                <div class="flex flex-row justify-between py-3 px-3 my-1 bg-[#3453a8] rounded-2xl">
                    <div class="flex flex-row items-center gap-4">
                        <img src="assets/avatar.png" class="hidden rounded-full border-dashed border-black border-2 xl:w-12 xl:h-12 xl:p-2 xl:table-cell">
                        <p>Pera Peric</p>
                    </div>
                    <button type="button" class="px-5 bg-[#0E2954] text-white rounded-2xl min-h-12 font-bold hover">ADD</button>
                </div>
            </li>
    
            <li>
                <div class="flex flex-row justify-between py-3 px-3 my-1 bg-[#3453a8] rounded-2xl">
                    <div class="flex flex-row items-center gap-4">
                        <img src="assets/avatar.png" class="hidden rounded-full border-dashed border-black border-2 xl:w-12 xl:h-12 xl:p-2 xl:table-cell">
                        <p>Boca</p>
                    </div>
                    <button type="button" class="px-5 bg-[#0E2954] text-white rounded-2xl min-h-12 font-bold hover">ADD</button>
                </div>
            </li>
    
            <li>
                <div class="flex flex-row justify-between py-3 px-3 my-1 bg-[#3453a8] rounded-2xl">
                    <div class="flex flex-row items-center gap-4">
                        <img src="assets/avatar.png" class="hidden rounded-full border-dashed border-black border-2 xl:w-12 xl:h-12 xl:p-2 xl:table-cell">
                        <p>Mika Mikic</p>
                    </div>
                    <button type="button" class="px-5 bg-[#0E2954] text-white rounded-2xl min-h-12 font-bold hover">ADD</button>
                </div>
            </li>
        </ul>
    </div>
</div>
