<div class="flex justify-center">
    <div class="flex justify-between size-[90%] gap-5">
        <div class="h-96 w-3/5 flex-col justify-between">
            <div class="h-1/2 w-full flex items-center pl-20 border-b-8 border-gray-600">
                <div class="flex justify-between">
                    <div>
                        <img src="assets/avatar.png" class="border-2 border-black rounded-full size-36">
                    </div>

                    <div class="flex flex-col justify-center pl-10">
                        <h1 class="text-5xl">{{member.fullName}}</h1>
                        <p class="text-xl">{{member.email}}</p>
                    </div>
                </div>
            </div>

            <div class="w-full flex justify-center gap-10 mt-5">
                <div class= "flex justify-between w-[80%]">
                    <div class="flex flex-col justify-between h-60">
                        <div>
                            <h1>Role</h1>
                            <p>{{member.role}}</p>
                        </div>
    
                        <div>
                            <h1>Phone number</h1>
                            <p>060 123 4567</p>
                        </div>
    
                        <div>
                            <h1>Twitter</h1>
                            <p>www.twitter.com</p>
                        </div>
                    </div>
    
                    <div class="flex flex-col justify-between">
                        <div>
                            <h1>Status</h1>
                            <p>Active</p>
                        </div>
    
                        <div>
                            <h1>GitHub</h1>
                            <p>www.github.com</p>
                        </div>
    
                        <div>
                            <h1>Linkedin</h1>
                            <p>www.lindein.com</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    
    
        <div class="h-96 w-2/5 bg-green-500">
    
        </div>
    
    </div>
</div>
