<div class="flex justify-center mt-5">
    <div class="flex justify-between w-[90%] gap-10">
        <div class="h-96 w-1/5 flex-col justify-between">
            <div class="h-1/2 w-full flex items-center border-b-8 border-gray-600">
                <div class="flex justify-between">
                    <div>
                        <img src="assets/avatar.png" class="border-2 border-black rounded-full size-16">
                    </div>

                    <div class="flex flex-col justify-center pl-10">
                        <h1 class="text-5xl">{{member.firstName}}</h1>
                        <h1 class="text-5xl">{{member.lastName}}</h1>
                        <p class="text-xl">{{member.email}}</p>
                    </div>
                </div>
            </div>

            <div class="w-full flex justify-center gap-5 mt-5">
                    <div class="flex flex-col justify-between h-60 w-64">
                        <div class="rounded-md shadow-2xl">
                            <h1 class="bg-[#0E2954] w-full px-2 py-1 text-white rounded-md rounded-b-none">Role</h1>
                            <p class=" w-full px-2 py-1 text-red-600 font-bold rounded-md rounded-b-none">{{mRole}}</p>
                        </div>
    
                        <div class="rounded-md shadow-2xl">
                            <h1 class="bg-[#0E2954] w-full px-2 py-1 text-white rounded-md rounded-b-none">Phone number</h1>
                            <p class=" w-full px-2 py-1 rounded-md rounded-b-none">{{member.phoneNumber}}</p>
                        </div>
    
                        <div class="rounded-md shadow-2xl">
                            <h1 class="bg-[#0E2954] w-full px-2 py-1 text-white rounded-md rounded-b-none">City</h1>
                            <p class=" w-full px-2 py-1 rounded-md rounded-b-none">{{member.city}}</p>
                        </div>

                        <div class="rounded-md shadow-2xl">
                            <h1 class="bg-[#0E2954] w-full px-2 py-1 text-white rounded-md rounded-b-none">Country</h1>
                            <p class=" w-full px-2 py-1 rounded-md rounded-b-none">{{member.country}}</p>
                        </div>
                    </div>
    
                    <div class="flex flex-col justify-between h-60 w-64">
                        <div class="rounded-md shadow-2xl">
                            <h1 class="bg-[#0E2954] w-full px-2 py-1 text-white rounded-md rounded-b-none">Status</h1>
                            <p class=" w-full px-2 py-1 rounded-md rounded-b-none">{{member.status}}</p>
                        </div>
    
                        <div class="rounded-md shadow-2xl">
                            <h1 class="bg-[#0E2954] w-full px-2 py-1 text-white rounded-md rounded-b-none">GitHub</h1>
                            <p class=" w-full px-2 py-1 rounded-md rounded-b-none">{{member.github}}</p>
                        </div>
    
                        <div class="rounded-md shadow-2xl">
                            <h1 class="bg-[#0E2954] w-full px-2 py-1 text-white rounded-md rounded-b-none">Linkedin</h1>
                            <p class=" w-full px-2 py-1 rounded-md rounded-b-none">{{member.linkedin}}</p>
                        </div>
                    </div>
            </div>

        </div>
    
    
        <div class="w-4/5">
            <div class="border-b-8 border-gray-600 text-2xl p-2 pl-5">
                <h1>Activity</h1>
            </div>

            <div class="flex justify-center">
                <div class="w-[90%] mt-10">
                    <div class="table border-[1px] border-gray-300 rounded-md">
                        <tr class="">
                            <th class="text-left p-3 w-60">PROJECT</th>
                            <th class="text-left w-60">TASK</th>
                            <th class="text-left w-60">DUE DATE</th>
                            <th class="text-left w-60">STATUS</th>
                            <th class="text-left w-60">PRIORITY</th>
                            <th class="text-left w-20"></th>
                        </tr>

                        <tr *ngIf="tasks.length == 0">
                            <td class="p-2 border-t-[1px] border-t-gray-300" colspan="8">No projects.</td>
                        </tr>

                        <tr *ngFor="let task of tasks; index as i" class="border-[1px] border-gray-500 hover:bg-gray-300">
                            <td class="w-60 border-t-[1px] border-t-gray-300 p-2">{{task.projectName}}</td>
                            <td class="w-60 border-t-[1px] border-t-gray-300 ">{{task.taskName}}</td>
                            <td class="w-60 border-t-[1px] border-t-gray-300">{{task.deadline | date}}</td>
                            <td *ngIf="task.taskStatusId == 1" class="w-60 border-t-[1px] border-t-gray-300 "><div class="bg-[#EE9322] w-fit p-1 rounded-md text-[#FFF455] drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.3)]">{{task.taskStatus}}</div></td>
                            <td *ngIf="task.taskStatusId == 3" class="w-60 border-t-[1px] border-t-gray-300"><div class="bg-[#002d00] w-fit p-1 rounded-md drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.3)] text-[#6cb224]">{{task.taskStatus}}</div></td>
                            <td *ngIf="task.taskStatusId == 2" class="w-60 border-t-[1px] border-t-gray-300"><div class="bg-[#0029a3] w-fit p-1 rounded-md drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.3)] text-[#7ebbfc]">{{task.taskStatus}}</div></td>
                            <td class="w-60 border-t-[1px] border-t-gray-300">{{task.taskPriority}}</td>
                            <td class="w-10 border-t-[1px] border-t-gray-300"><button class="font-extrabold text-3xl"  mat-button [matMenuTriggerFor]="menu">...</button></td>
                            <mat-menu #menu="matMenu">
                              <button mat-menu-item (click)="openDialog(task)">View</button>
                              <button mat-menu-item class="p-2 bg-red-500 rounded-md font-semibold text-black">Delete</button>
                            </mat-menu>
                        </tr>
                </div>
                </div>
            </div>
        </div>
    
    </div>

    

</div>
