<h1>Add staff member</h1>
<form action="">
    <div id="form">
        <div id="name">
            <p>First Name</p>
            <input name="name" type="text" placeholder="Name..." [(ngModel)]="name">
        </div>
          
        <div id="lname">
            <p>Last name</p>
            <input name="lname" type="text" placeholder="Last name..." [(ngModel)]="lname">
        </div>
    
        <div id="email">
            <p>Email</p>
            <input name="email" type="text" placeholder="Email..." [(ngModel)]="email">
        </div>
    
        <div id="phone">
            <p>Phone number</p>
            <input name="phone" type="text" placeholder="Number..." [(ngModel)]="phone">
        </div>
        <br>
    
       <div id="Role">

       </div>
              
        <div id="Date">
            <p>Date of birth</p>
            <input name="date" type="text" placeholder="Date..." [(ngModel)]="date">
        </div>
    
        <div id="Info">
            <p>Additional information</p>
            <input name="info" type="text" placeholder="Info..." [(ngModel)]="info">
        </div>
        <br>
    
        <button type="button" (click)="onClick()">Add staff member</button>
    </div>
</form>
