<div class="flex flex-col gap-2">


  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title class="flex flex-row justify-between ">
          <h1 class="text-xl flex">Project completion rate</h1>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card class="m-2">
        <div class="flex flex-col justify-between m-2">
          <ngx-charts-gauge class="flex"
                            [results]="dataForChart"
                            [angleSpan]="360" [startAngle]="270"
                            [view]="[400,400]"
                            [legend]="false"
                            [showText]="true"
                            [smallSegments]="2"
                            [units]="'%'"
                            [customColors]="customColors">

          </ngx-charts-gauge>

        </div>
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title class="flex flex-row justify-between ">
          <h1 class="text-xl flex">Incomplete tasks by category</h1>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card class="m-2">
        <div class="flex flex-col justify-between m-2">
          <ngx-charts-bar-vertical
            [results]="namesForBarChart"
            [showXAxisLabel]="true"
            [noBarWhenZero]="false"
            [xAxis]="namesForBarChart">


          </ngx-charts-bar-vertical>

        </div>
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>


  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title class="flex flex-row justify-between ">
          <h1 class="text-xl flex">Tasks per member</h1>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card class="m-2">
        <div class="flex flex-col justify-between m-2">
          <ngx-charts-bar-horizontal
            [results]="tasksPerMember"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [noBarWhenZero]="false"
            [xAxis]="tasksPerMember"
            [yAxis]="tasksPerMember"
            (select)="onSelect($event)">


          </ngx-charts-bar-horizontal>

        </div>
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>











</div>
