<div id="form">
    <div id="name">
        <p>Name</p>
        <input type="text" placeholder="Name...">
    </div>
      
    <div id="lname">
        <p>Last name</p>
        <input type="text" placeholder="Last name...">
    </div>

    <div id="email">
        <p>Email</p>
        <input type="text" placeholder="Email...">
    </div>

    <div id="phone">
        <p>Phone number</p>
        <input type="text" placeholder="Number...">
    </div>

    <div id="date">
        <p>Date of employement</p>
        <input type="text" placeholder="Date...">
    </div>

    <div id="Role">
        <p>Starting role</p>
        <input type="text" placeholder="Role...">
    </div>
    <br>

    <button>Add staff member</button>
</div>