<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="min-h-screen flex flex-nowrap">
    <div
      class="basis-1/2 hidden xl:flex flex-col justify-center items-center bg-gradient-to-bl from-[#a9edf6] to-[#6dafb8] select-none"
    >
      <img
        ngSrc="/assets/logo.png"
        alt="Logic Tenacity Logo"
        height="394"
        width="633"
      />
    </div>

    <div class="grow flex flex-col justify-center items-center gap-10">
      <div class="flex flex-col min-w-80 items-center justify-between gap-10">
        <mat-form-field class="w-full">
          <mat-label class="text-xl select-none" for="newPassword1"
            >New Password</mat-label
          >
          <!--
          <p
            *ngIf="form.get('newPassword').errors?.['required'] && form.get('newPassword').touched"
            class="italic text-sm text-red-600"
          >
            Password is required.
          </p>
          <p
            *ngIf="form.get('newPassword').errors?.['minLength'] && form.get('newPassword').touched"
            class="italic text-sm text-red-600"
          >
            Password must be at least 6 characters.
          </p>
          -->
          <input
            matInput
            formControlName="newPassword"
            class="min-h-9 text-xl border-2 rounded-xl p-1.5"
            type="password"
            name="newPassword"
            id="newPassword"
            required
            minlength="6"
          />
        </mat-form-field>
        <!--
          <p
            *ngIf="form.get('newPassword1').errors?.['required'] && form.get('newPassword1').touched"
            class="italic text-sm text-red-600"
          >
            Re-typing password is required.
          </p>
          -->
        <mat-form-field class="w-full">
          <mat-label class="text-xl select-none" for="newPassword1"
            >Re-type Password</mat-label
          >
          <input
            matInput
            formControlName="newPassword1"
            class="min-h-9 text-xl border-2 rounded-xl p-1.5"
            type="password"
            name="newPassword1"
            id="newPassword1"
            required
            minlength="6"
          />

          <p *ngIf="passwordMismatch" class="italic text-sm text-red-600">
            Passwords do not match
          </p>
        </mat-form-field>

        <button
          (click)="onSubmit()"
          class="w-full bg-accent-blue text-white rounded-2xl min-h-12 font-bold hover:bg-[#0B2043] select-none"
          type="button"
        >
          Reset password
        </button>
      </div>
    </div>

    <ng-toast></ng-toast>
  </div>
</form>
