.triangle
{
    width: 0;
	height: 0;
	border-left: 7.5px solid transparent;
	border-right: 7.5px solid transparent;
	border-top: 15px solid #555;
}

#addNewBtn
{
    width: 100%;
    background-color: transparent;
    border: dashed 1px black;
    border-radius: 15px;
    height: 40px;
}

#addNewBtn:hover
{
    cursor: pointer;
}

td
{
    text-align: center;
    background-color: rebeccapurple;   
}

#picture
{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

th
{
    width: 300px;
}

#addNewBtnPic
{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: dashed 1px;
}
